@charset "utf-8";
@font-face {
    font-family: 'iconfont';  /* project id："191132" */
    src: url('http://at.alicdn.com/t/font_z886mhzyzyjbgldi.eot');
    src: url('http://at.alicdn.com/t/font_z886mhzyzyjbgldi.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_z886mhzyzyjbgldi.woff') format('woff'),
    url('http://at.alicdn.com/t/font_z886mhzyzyjbgldi.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_z886mhzyzyjbgldi.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 调整轮播索引样式 */
.carousel-indicators li {
    background-color: #21B1A7;
    border: none;
    opacity: 0.5;
}

.carousel-inner .item img {
    margin: 0 auto;
}

a:hover { text-decoration: none; }

li { list-style-type: none; }

/* 遮罩层 */
.cover-floor {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #000;
    z-index: 1200;
}

.cover-floor>div>span {
    position: absolute;
    top: 60px;
    right: 12.5px;
    color: #1C596B;
    font-size: 30px;
}

/* 导航 */
nav { background-color: #DDDDDD; }

nav .row:nth-of-type(1) {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
}

nav .carousel-indicators li { color: #1B596B; }

nav .row:nth-of-type(1) span{
    float: right;
    font-size: 24px;
    color: #1B596B;
    font-family: "Microsoft Yahei";
    cursor: pointer;
}

/* 浮起阴影 */
.box-shadow-1 {
    -webkit-box-shadow: 0 1px 20px 2px #000;
    -moz-box-shadow: 0 1px 20px 2px #000;
    box-shadow: 0 1px 20px 2px #000;
}

.box-shadow-1>div:nth-of-type(2) { height: 25px; }

.rightside-menu {
    position: fixed;
    top: 0;
    /* 初始时至于屏幕外部右侧并隐藏 */
    display: none;
    right: -50%;
    z-index: 10000;
    overflow: auto;
    width: 30%;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: -1px 0 20px 2px #000;
    -moz-box-shadow: -1px 0 20px 2px #000;
    box-shadow: -1px 0 20px 2px #000;
}

.rightside-menu ul {
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
}

.rightside-menu>ul>li { border-top: 1px solid #D6D6D6; }

.rightside-menu>ul:last-child { border-bottom: 1px solid #D6D6D6; }

.rightside-menu>ul>li>a {
    padding-left: 20%;
    height: 35px;
    line-height: 35px;
    color: #444444;
    font-size: 13px;
    font-family: "Microsoft Yahei";
}

/* 二级菜单 */
.second-menu {
    background-color: #DDDDDD;
    display: none;
}

.second-menu a {
    padding-left: 20%;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}

.second-menu li {
    border-bottom: thin solid #D6D6D6;
}

.second-menu li:nth-last-of-type(1) { border: none; }

.rightside-menu span {
    float: right;
    position: relative;
    right: 50%;
    margin-right: -10px;
    margin-top: 10px;
    font-size: 20px;
    color: #1B596B;
    cursor: pointer;
}

.myNav { margin-bottom: -5.5px; }

.banner-bottom {
    position: relative;
    top: -2px;
    height: 70px;
}

.banner-bottom div p {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -24px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.banner-bottom>div:nth-of-type(1) img {
    position: absolute;
    bottom: 35px;
    left: 50%;
    display: block;
    margin-left: -15px;
}

.banner-bottom>div:nth-of-type(1)~div img {
    position: absolute;
    bottom: 35px;
    left: 50%;
    display: block;
    margin-left: -15px;
}

.banner-bottom div:nth-of-type(1) {
    position: relative;
    top: -10%;
    height: 110%;
    background-color: #21B1A7;
}

.banner-bottom div:nth-of-type(1)~div {
    position: relative;
    height: 100%;
}

.banner-bottom div:nth-of-type(2) { background-color: #359AFF; }

.banner-bottom div:nth-of-type(3) { background-color: #333333; }

.banner-bottom div:nth-of-type(4) { background-color: #FF7F00; }

.eye {
    position: absolute;
    top: 30px;
    right: 8px;
}

.eye img {
    float: right;
    opacity: 0.6;
}

.nav-end {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.nav-end>div:nth-of-type(1) img {
    position: relative;
    top: -2px;
    display: inline;
}

.nav-end>div:nth-of-type(1)>p {
    color: #555555;
    font-size: 13px;
    font-family: "Microsoft Yahei";
}

.nav-end>div:nth-of-type(2)>div:nth-of-type(1) {
    float: left;
    margin-left: 10%;
    width: 30%;
    height: 30%;
}

.nav-end>div:nth-of-type(2)>div:nth-of-type(2) {
    float: right;
    margin-right: 10%;
    width: 30%;
    height: 30%;
}

.nav-end>div:nth-of-type(2)>div p {
    margin-top: 10px;
    font-size: 12px;
    color: #545454;
    font-family: "Microsoft Yahei";
    text-align: center;
}

.content {
    background-color: #DDDDDD;
    padding-bottom: 20px;
}

.showdate>div:nth-of-type(1) img {
    position: relative;
    top: -2px;
    display: inline-block;
}

.showdate>div:nth-of-type(1) p {
    color: #545454;
    font-size: 13px;
    font-family: "Microsoft Yahei";
}

.showdate {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.showdate select {
    position: relative;
    top: -2px;
    border: none;
    font-size: 12px;
    color: #525252;
}

.showdate>div:nth-of-type(2) { white-space: nowrap; }

.showdate>div:nth-of-type(3) p {
    float: right;
    color: #666666;
    font-size: 10px;
}

.showdate>div:nth-of-type(4)>div:nth-of-type(1) { float: left; }

.showdate>div:nth-of-type(4)>div:nth-of-type(2) { float: right; }

.showdate>div:nth-of-type(4)>div p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 8px;
    font-weight: bold;
    color: #525252;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showdate>div:nth-of-type(4) { padding-bottom: 20px; }

.showdate>div:nth-of-type(4)>div { width: 48%; }

.showdate>div:nth-of-type(4)>div span {
    font-size: 6px;
    font-weight: bold;
    color: #999999;
}

.content-repeat>div>div { float: left; }

.content-repeat>p {
    margin-bottom: 0;
    font-size: 8px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    color: #666666;
}

.content-repeat {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DFDFDF;
}

.content-repeat>div>div {
    float: left;
    width: 30%;
    font-size: 8px;
    font-family: "Microsoft Yahei";
    color: #878787;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-repeat>div { display: none; }

.opened { background-color: #DFDFDF; }

.opened>div {
    display: block;
    margin-top: 10px;
}

.opened>div>div {
    padding-right: 5px;
    padding-left: 5px;
}

.opened>div>div:nth-of-type(1) { padding-left: 0; }

.opened>div>div:nth-of-type(1),
.opened>div>div:nth-of-type(2) {
    border-right: 1px solid #C8C8C8;
}

.plus, .minus {
    height: 17px;
    line-height: 17px;
    display: block;
    float: right;
    color: #BBBBBB;
}

.minus { display: none; }

.opened .minus { display: block; }

.opened .plus { display: none; }

.video-play {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #1C596B;
}

.video-play>div:nth-of-type(1) span {
    color: #fff;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}

.video-play>div:nth-of-type(1) a {
    float: right;
    color: #41DCD0;
    font-size: 10px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}

.video-play>div:nth-of-type(2)>img { margin: 0 auto; }

.news {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.news-top>b {
    float: left;
    position: relative;
    top: 2px;
}

.news-top>span { float: left; }

.news-top>a {
    float: right;
    color: #666666;
    font-size: 10px;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}

.news-top>span {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-family: "Microsoft Yahei"
}

.news-top>span:nth-of-type(1) {
    border-right: 1px solid #C8C8C8;
    color: #525252;
}

.news-top>span:nth-of-type(2) { color: #868686; }

.news-repeat {
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
    border-width: thin;
}

.news-repeat>div>a>p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 8px;
    font-weight: bold;
    color: #525252;
    /*超过两行隐藏*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.news-repeat>div>span {
    font-size: 6px;
    font-weight: bold;
    color: #999999;
}

.news-repeat>div:nth-of-type(1) { float: left; }

.news-repeat>div:nth-of-type(2) { float: right; }

.news-repeat>div { width: 48%; }

.content-link {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #fff;
}

.content-link>div:nth-of-type(1) img { display: inline-block; }

.content-link>div:nth-of-type(1) p {
    color: #525252;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}

.content-bottom>div {
    width: 48%;
    height: 48%;
}

.content-bottom {
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.content-bottom>div:nth-of-type(1) { float: left; }

.content-bottom>div:nth-of-type(2) { float: right; }

.footer-a {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #1B596B;
}

.qr-code img {
    display: block;
    margin: 0 auto;
}

.footer-a p:nth-of-type(1),
.footer-a p:nth-of-type(2) {
    text-align: center;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    color: #fff;
}

.footer-a p:nth-of-type(3) {
    margin-top: 10px;
    text-align: center;
}

.footer-a p:nth-of-type(3) span {
    text-align: center;
    color: #fff;
}

.footer-a p:nth-of-type(3) span:nth-of-type(1) { margin-right: 5px; }

.footer-a p:nth-of-type(3) b {
    position: relative;
    top: -2px;
    left: 2px;
    font-size: 10px;
    color: #fff;
}

.footer-b {
    padding-top: 10px;
    padding-bottom: 0;
    background-color: #333333;
}

.footer-b>p:nth-of-type(1) {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    color: #fff;
}

.footer-b>p:nth-of-type(2),
.footer-b>p a {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    color: #878787;
}
