<extend name="./Public/home/index.html" />
<block name="title"><title>{:C('SITE_TITLE')}</title></block>
<block name="banner">
<!--#banner-->
<section class="clearfix"><img src="{$banner}" class="img-responsive"></section>
</block>
<block name="main">
<!--#main-->
<section class="clearfix bgea pad-v-md">

   <include file="Public/navbar" /> 

   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         
         <include file="Public/sidenav" />
         
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs">{$selfCate}</div>
               <div class="clearfix boxm">
                  {$info['content']}
               </div>         
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
</block>

