<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-ywh.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">业委会动态</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu"></i><i class="ion r ion-opn-sub-menu"></i></span>
         <ul>
            <li class="active"><a href="{:U('Industry/index')}">业委会动态</a></li><li><a href="{:U('Industry/index', 'id=2')}">组织结构</a></li><li><a href="{:U('Industry/index', 'id=3')}">业委会职责</a></li><li><a href="{:U('Industry/index', 'id=4')}">业主公约</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li class="active"><a href="{:U('Industry/index')}">业委会动态</a></li><li><a href="{:U('Industry/index', 'id=2')}">组织结构</a></li><li><a href="{:U('Industry/index', 'id=3')}">业委会职责</a></li><li><a href="{:U('Industry/index', 'id=4')}">业主公约</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">将业委会一举一动“晒”在阳光下</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">将业委会一举一动“晒”在阳光下</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：19</span><br /><br /></p>
                  <div class="clearfix gray"><br />
<br />
<span style="color:#333333;"> 个案：业委会财务不透明遭业主罢免</span><br />
<br />
<span style="color:#333333;"> 位于清水河街道的金银园小区建于上世纪90年代，共7个单元350户业主。小区规模不算大，邻里氛围却显得极为融洽。早上上班，即便不住同一个单元楼，业主们见面也会打声招呼或点头示意；午间酷热，不时有好心业主给小区岗亭值守的保安送上冷饮。</span><br />
<br />
<span style="color:#333333;"> 很难想象，这样温馨的一个小区，之前竟然是清水河街道极为头疼的“问题小区”“一年之前你若来我们小区，看到的绝不是现在这样，那个时候业主和业委会水火不容，整个小区乌烟瘴气。”在金银园小区采访时，多位业主代表向记者讲述该小区当年的“历史”。</span><br />
<br />
<span style="color:#333333;"> 业主代表所指的业委会，是金银园小区上一届业委会。据介绍，上一届业委会因为做了太多侵害全体业主共同利益的事，遭业主联名罢免。去年7月份，在清水河街道办事处的指导下，金银园小区顺利完成业委会换届选举。</span><br />
<br />
<span style="color:#333333;"> “上一届业委会的问题主要出在财务上。”业主代表林先生说，在小区公共收入和开支方面，上一届业委会所作的决定很多时候并没有代表大部分业主意愿，也没有通过业主大会进行表决，小区重大事项通常由上一届业委会成员中个别人说了算。基于此，业主才联合起来要求重新选举业委会。</span><br />
<br />
<span style="color:#333333;"> 新一届业委会选举产生的同时，金银园小区成立了业主监事会。这在当时整个罗湖乃至深圳，都算件新鲜事“知道的人多了，腐败就少了。我们之所以成立业主监事会，就是为了避免上一届业委会的违规行为在这一届业委会出现。”金银园小区监事会成员许先生说，通过自荐和业主推选，再经投票表决，总共9名业主入选小区业主监事会。</span><br />
<div style="white-space:nowrap;">
	<br />
</div></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>