<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-ywh.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">业委会职责</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a>&gt;<a href="{:U('Industry/index', 'id=3')}">业委会职责</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a>&gt;<a href="{:U('Industry/index', 'id=3')}">业委会职责</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu">&#xe607;</i><i class="ion r ion-opn-sub-menu">&#xe650;</i></span>
         <ul>
            <li><a href="{:U('Industry/index')}">业委会动态</a></li><li><a href="{:U('Industry/index', 'id=2')}">组织结构</a></li><li class="active"><a href="{:U('Industry/index', 'id=3')}">业委会职责</a></li><li><a href="{:U('Industry/index', 'id=4')}">业主公约</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('Industry/index')}">业委会动态</a></li><li><a href="{:U('Industry/index', 'id=2')}">组织结构</a></li><li class="active"><a href="{:U('Industry/index', 'id=3')}">业委会职责</a></li><li><a href="{:U('Industry/index', 'id=4')}">业主公约</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs">业委会职责</div>
               <div class="clearfix boxm">
                  <span style="color:#333333;line-height:2;">1.《物业管理条例》规定:</span><br />
<span style="color:#333333;line-height:2;"> 业主委员会执行业主大会的决定事项，履行下列职责：</span><br />
<span style="color:#333333;line-height:2;"> 业主委员会</span><br />
<span style="color:#333333;line-height:2;"> 业主委员会</span><br />
<span style="color:#333333;line-height:2;"> （一）召集业主大会会议，报告物业管理的实施情况；</span><br />
<span style="color:#333333;line-height:2;"> （二）代表业主与业主大会选聘的物业服务企业签订物业服务合同；</span><br />
<span style="color:#333333;line-height:2;"> （三）及时了解业主、物业使用人的意见和建议，监督和协助物业服务企业履行物业服务合同；</span><br />
<span style="color:#333333;line-height:2;"> （四）监督管理规约的实施；</span><br />
<span style="color:#333333;line-height:2;"> （五）业主大会赋予的其他职责。</span><br />
<span style="color:#333333;line-height:2;"> 2.《业主大会议事规则》的规定:</span><br />
<span style="color:#333333;line-height:2;"> 比如原上海市房屋土地资源管理局颁布的《业主大会议事规则》（示范文本）【沪房地资物[2008]389号】规定：</span><br />
<span style="color:#333333;line-height:2;"> 业主委员会除依法履行职责外，同时履行下列职责：</span><br />
<span style="color:#333333;line-height:2;"> （一）拟订选聘物业服务企业的方案；</span><br />
<span style="color:#333333;line-height:2;"> （二）拟订业主委员会的年度财务预算方案、决算方案，报业主大会决定；</span><br />
<span style="color:#333333;line-height:2;"> （三）拟订业主大会议事规则和管理规约修改方案，报业主大会决定；</span><br />
<span style="color:#333333;line-height:2;"> （四）拟订物业管理区域内公共秩序和环境卫生的维护等方面的规章制度的方案，报业主大会决定；</span><br />
<span style="color:#333333;line-height:2;"> （五）拟订物业管理区域内物业共有部分和共用设施设备的使用、收益方案，报业主大会决定；</span><br />
<span style="color:#333333;line-height:2;"> （六）拟订专项维修资金使用、续筹方案，报业主大会决定；</span><br />
<span style="color:#333333;line-height:2;"> （七）拟订改建、重建建筑物及其附属设施的方案，报业主大会决定；</span><br />
<span style="color:#333333;line-height:2;"> （八）对违反管理规约的行为进行处理；</span><br />
<span style="color:#333333;line-height:2;"> 3.《业主委员会工作规则》的规定:</span><br />
<span style="color:#333333;line-height:2;"> 业主大会可以制订《业主委员会章程》或者《业主委员会工作规则》对业主委员会的职责作出更具体的规定，比如成都市房产管理局颁布的《业主委员会工作规则》（示范文本）【成房发[2007]87号】规定：</span><br />
<span style="color:#333333;line-height:2;"> 业主委员会履行下列职责：</span><br />
<span style="color:#333333;line-height:2;"> （一）召集业主大会会议，报告物业管理的实施情况；</span><br />
<span style="color:#333333;line-height:2;"> （二）根据业主的意见、建议和要求，拟订选聘物业服务企业或者其他管理人的方案、选聘实施人以及解聘物业服务企业或者其他管理人的议案，提交业主大会会议决定；</span><br />
<span style="color:#333333;line-height:2;"> （三）代表业主与业主大会选聘的物业服务企业签订物业服务合同；</span><br />
<span style="color:#333333;line-height:2;"> （四）根据业主的意见、建议和要求，拟订建筑区划内公共秩序和环境卫生的维护等方面的规章制度的方案，提交业主大会会议决定；</span><br />
<span style="color:#333333;line-height:2;"> （五）根据业主的意见、建议和要求，拟订建筑区划内物业共有部分的使用、收益方案，提交业主大会会议决定；</span><br />
<span style="color:#333333;line-height:2;"> 业主委员会</span><br />
<span style="color:#333333;line-height:2;"> 业主委员会</span><br />
<span style="color:#333333;line-height:2;"> （六）根据业主的意见、建议和要求，拟订建筑物及其附属设施维修资金使用、续筹方案，提交业主大会会议决定；</span><br />
<span style="color:#333333;line-height:2;"> （七）根据业主的提议，拟订本建筑区划的划分、调整方案，提交业主大会会议决定；</span><br />
<span style="color:#333333;line-height:2;"> （八）初审物业服务企业或者其他管理人制订的年度服务计划，提交业主大会会议决定；</span><br />
<span style="color:#333333;line-height:2;"> （九）提请业主大会决定终止业主委员会委员资格，增补业主委员会委员；</span><br />
<span style="color:#333333;line-height:2;"> （十）监督物业服务企业或者其他管理人履行物业服务合同，并每半年对物业服务企业或者其他管理人按照物业服务合同约定履行物业服务情况进行一次全面考核评定。</span><br />
<span style="color:#333333;line-height:2;"> （十一）监督管理规约的实施，对违反管理规约的行为进行处理；</span><br />
<span style="color:#333333;line-height:2;"> （十二）督促违反物业服务合同约定逾期不交纳物业服务费用的业主，限期交纳物业服务费用；</span><br />
<span style="color:#333333;line-height:2;"> （十三）督促未按照管理规约的约定缴存建筑物及其附属设施维修资金的业主，限期交纳建筑物及其附属设施维修资金。</span><br />
<span style="color:#333333;line-height:2;"> （十四）对有关档案资料、会议记录、印章及其他属于业主大会的财物进行妥善保管；</span><br />
<span style="color:#333333;line-height:2;"> （十五）及时了解业主、使用人的意见和建议，形成议案提交业主大会会议决定；</span><br />
<span style="color:#333333;line-height:2;"> （十六）协调业主与业主之间以及业主与物业服务企业或者其他管理人之间的关系，调处业主与业主之间以及业主与物业服务企业或者其他管理人之间的物业管理纠纷；</span><br />
<span style="color:#333333;line-height:2;"> （十七）加强对物业管理政策法规的学习和宣传，不断提高业主自主管理的意识和能力；</span><br />
<span style="color:#333333;line-height:2;"> （十八）建立业主委员会接待制度，接受业主、使用人的咨询、投诉和监督，并定期将工作情况以公告等形式向全体业主报告；</span><br />
<span style="color:#333333;line-height:2;"> （十九）依法忠实履行职责，执行业主大会决定；</span><br />
<span style="color:#333333;line-height:2;"> （二十）定期参加房产管理部门组织的物业管理培训，接受街道办事处、乡（镇）人民政府、社区居民委员会以及房产管理部门的指导与监督；</span><br />
<span style="color:#333333;line-height:2;"> （二十一）按规定建立业主委员会信用信息；</span><br />
<span style="color:#333333;line-height:2;"> （二十二）积极配合公安机关、街道办事处、乡（镇）人民政府、社区居民委员会做好计划生育、流动人口、犬只管理等相关工作；</span><br />
<span style="color:#333333;line-height:2;"> （二十三）不得以业主委员会名义从事与本建筑区划内物业管理无关的活动，不得组织、参与任何经营性活动，其委员及其近亲属不得在为本建筑区划提供物业服务的物业服务企业、机构中任职；</span><br />               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>