<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-ywh.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">业主公约</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a>&gt;<a href="{:U('Industry/index', 'id=4')}">业主公约</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Industry/index')}">业委会动态</a>&gt;<a href="{:U('Industry/index', 'id=4')}">业主公约</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu">&#xe607;</i><i class="ion r ion-opn-sub-menu">&#xe650;</i></span>
         <ul>
            <li><a href="{:U('Industry/index')}">业委会动态</a></li><li><a href="{:U('Industry/index', 'id=2')}">组织结构</a></li><li><a href="{:U('Industry/index', 'id=3')}">业委会职责</a></li><li class="active"><a href="{:U('Industry/index', 'id=4')}">业主公约</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('Industry/index')}">业委会动态</a></li><li><a href="{:U('Industry/index', 'id=2')}">组织结构</a></li><li><a href="{:U('Industry/index', 'id=3')}">业委会职责</a></li><li class="active"><a href="{:U('Industry/index', 'id=4')}">业主公约</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs">业主公约</div>
               <div class="clearfix boxm">
                  <span style="line-height:2;color:#333333;">主要内容:</span><br />
<span style="line-height:2;color:#333333;"> (1)除第一次业主大会以外，以后各次业主大会举行的时间、地点、召集人和主持人；</span><br />
<span style="line-height:2;color:#333333;"> (2)业主大会的职权；</span><br />
<span style="line-height:2;color:#333333;"> (3)业主大会的议案提交办法和对议案的表决办法；</span><br />
<span style="line-height:2;color:#333333;"> (4)业主委员会候选人的条件和产生办法；</span><br />
<span style="line-height:2;color:#333333;"> (5)业主委员会委员的人数和选举办法；</span><br />
<span style="line-height:2;color:#333333;"> (6)业主委员会委员的待遇和任期；</span><br />
<span style="line-height:2;color:#333333;"> (7)业主委员会委员的罢免程序；</span><br />
<span style="line-height:2;color:#333333;"> (8)业主的权利和义务；</span><br />
<span style="line-height:2;color:#333333;"> (9)《业主公约》的生效条件；</span><br />
<span style="line-height:2;color:#333333;"> (10)修改《业主公约》的条件和程序。</span><br />               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>