<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-live.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">办事指南</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Info/index')}">便民信息</a>&gt;<a href="{:U('Info/index', 'id=3')}">办事指南</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Info/index')}">便民信息</a>&gt;<a href="{:U('Info/index', 'id=3')}">办事指南</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu">&#xe607;</i><i class="ion r ion-opn-sub-menu">&#xe650;</i></span>
         <ul>
            <li ><a href="{:U('Info/index')}">生活妙招</a></li><li><a href="{:U('Info/index', 'id=2')}">房源租售</a></li><li class="active"><a href="{:U('Info/index', 'id=3')}">办事指南</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <<li ><a href="{:U('Info/index')}">生活妙招</a></li><li><a href="{:U('Info/index', 'id=2')}">房源租售</a></li><li class="active"><a href="{:U('Info/index', 'id=3')}">办事指南</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">常用电话号码一览表</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">常用电话号码一览表</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：9</span><br /><br /></p>
                  <div class="clearfix gray"><span style="color:#333333;">1、	紧急求助电话</span><br />
<span style="color:#333333;"> &nbsp; &nbsp;火警…………………………………………………………………………………………119</span><br />
<span style="color:#333333;"> &nbsp; &nbsp;匪警…………………………………………………………………………………………110</span><br />
<span style="color:#333333;"> &nbsp; &nbsp;急救…………………………………………………………………………………………120</span><br />
<span style="color:#333333;"> &nbsp; &nbsp;交通事故……………………………………………………………………………………122</span><br />
<span style="color:#333333;"> 2、	特殊服务电话</span><br />
<span style="color:#333333;"> 中国电信电话号码查询……………………………………………………………………114</span><br />
<span style="color:#333333;"> 报时服务……………………………………………………………………………………12117</span><br />
<span style="color:#333333;"> 天气预报……………………………………………………………………………………12121</span><br />
<span style="color:#333333;"> 中国邮政特快专递…………………………………………………………………………11185</span><br />
<span style="color:#333333;"> 3、	便民电话</span><br />
<span style="color:#333333;"> 燃气公司………………………………………………………………………………0551-65133333</span><br />
<span style="color:#333333;"> 供水公司………………………………………………………………………………0551-64422666</span><br />
<span style="color:#333333;"> 电力公司……………………………………………………………………………………95598</span><br />
<span style="color:#333333;"> 4、	通信电话</span><br />
<span style="color:#333333;"> 中国电信客服电话…………………………………………………………………………10000</span><br />
<span style="color:#333333;"> 中国移动客服电话…………………………………………………………………………10086</span><br />
<span style="color:#333333;"> 中国联通客服电话…………………………………………………………………………10010</span><br />
<span style="color:#333333;"> 中国网通客服电话…………………………………………………………………………10060</span><br />
<span style="color:#333333;"> 中国铁通客服电话…………………………………………………………………………10050</span><br />
<span style="color:#333333;"> 5、交通电话</span><br />
<span style="color:#333333;"> 合肥新桥国际机场</span><br />
<span style="color:#333333;"> 机场问询：0551-63777888</span><br />
<span style="color:#333333;"> 机场投诉：0551-63777315</span><br />
<span style="color:#333333;"> 出租车调度站：0551-63777818</span><br />
<span style="color:#333333;"> 急救中心：0551-63777120</span><br />
<span style="color:#333333;"> 失物招领：0551-63777355</span><br />
<span style="color:#333333;"> 城市航站楼：0551-63777396</span><br />
<span style="color:#333333;"> 大巴调度：0551-63777821</span><br />
<span style="color:#333333;"> 售票处：0551-63777666/63777699</span><br />
<span style="color:#333333;"> 航空货运服务热线：0551-63777705（货运出港）0551-63777706（货运到港）</span><br />
<span style="color:#333333;"> 合肥火车站</span><br />
<span style="color:#333333;"> 客服：12306</span><br />
<span style="color:#333333;"> 咨询电话：0551-64243311</span><br />
<span style="color:#333333;"> 合肥汽车站</span><br />
<span style="color:#333333;"> 汽运总站：0551-64240222/64241111</span><br />
<span style="color:#333333;"> 旅游车站：0551-64255878</span><br />
<span style="color:#333333;"> 长途汽车站：0551-64296413</span><br />
<span style="color:#333333;"> 明光路汽车站：0551-64299111/64297296</span><br />
<span style="color:#333333;"> 东站：0551-64313399/64413499</span><br />
<span style="color:#333333;"> 南站：0551-63475580</span><br />
<span style="color:#333333;"> 西站：0551-65310387/65316570</span><br />
<span style="color:#333333;"> 北站：0551-64212522/64217871</span><br />
<span style="color:#333333;"> 6、保险服务电话</span><br />
<span style="color:#333333;"> 中国人民保险公司 &nbsp; &nbsp; &nbsp; &nbsp;95518</span><br />
<span style="color:#333333;"> 中国人寿保险公司 &nbsp; &nbsp; &nbsp; &nbsp;95519</span><br />
<span style="color:#333333;"> 中国太平洋保险公司 &nbsp; &nbsp; &nbsp;95500</span><br />
<span style="color:#333333;"> 中国平安保险股份公司 &nbsp; &nbsp;95511</span><br />
<br />
<br />
<span style="color:#333333;"> 7、科大花园二期人才楼物业项目部专线：0551-63471616</span><br />
<span style="color:#333333;"> 物业项目部地址：科大花园二期人才楼3栋102室</span><br />
<span style="color:#333333;"> &nbsp; &nbsp;物业服务企业：安徽江风山月物业管理有限责任公司</span><br />
<p>
	<br />
</p>
<p>
	<br />
</p>
<p>
	<br />
</p></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>