<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-live.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">办事指南</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Info/index')}">便民信息</a>&gt;<a href="{:U('Info/index', 'id=3')}">办事指南</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Info/index')}">便民信息</a>&gt;<a href="{:U('Info/index', 'id=3')}">办事指南</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu">&#xe607;</i><i class="ion r ion-opn-sub-menu">&#xe650;</i></span>
         <ul>
            <li ><a href="{:U('Info/index')}">生活妙招</a></li><li><a href="{:U('Info/index', 'id=2')}">房源租售</a></li><li class="active"><a href="{:U('Info/index', 'id=3')}">办事指南</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <<li ><a href="{:U('Info/index')}">生活妙招</a></li><li><a href="{:U('Info/index', 'id=2')}">房源租售</a></li><li class="active"><a href="{:U('Info/index', 'id=3')}">办事指南</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">常用网址一览表</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">常用网址一览表</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：7</span><br /><br /></p>
                  <div class="clearfix gray"><span style="color:#333333;">新浪网 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://sina.com.cn</span><br />
<span style="color:#333333;">搜狐网 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www.sohu.com</span><br />
<span style="color:#333333;">网易网 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www.163.com</span><br />
<span style="color:#333333;">中文雅虎 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://yahoo.com</span><br />
<span style="color:#333333;">百度搜索 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www.baidu.com</span><br />
<span style="color:#333333;">万家热线 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://365jia.cn/</span><br />
<span style="color:#333333;">京东商城 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www.jd.com/</span><br />
<span style="color:#333333;">&nbsp;淘宝网 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;https://www.taobao.com/</span><br />
<span style="color:#333333;">天猫购物 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;https://www.tmall.com/</span><br />
<span style="color:#333333;">合肥论坛 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://bbs.hefei.cc/</span><br />
<span style="color:#333333;">无忧工作网 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www.51job.com</span><br />
<span style="color:#333333;">中国基础教育网 &nbsp; &nbsp; &nbsp; &nbsp;http://www.cbe21.com</span><br />
<span style="color:#333333;">计算机网校 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www.free-school.net/index.htm</span><br />
<span style="color:#333333;">携程旅行网 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www1.ctrip.com/index.asp</span><br />
<span style="color:#333333;">安徽中青旅 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;http://www.51760.cn/</span><br />
<span style="color:#333333;">中国科学技术大学 &nbsp; &nbsp; &nbsp;http://www.ustc.edu.cn/</span><br />
<span style="color:#333333;">瀚海星云BBS站 &nbsp; &nbsp; &nbsp; &nbsp;http://bbs.ustc.edu.cn/</span><br />
<span style="color:#333333;">中国物业管理协会 &nbsp; &nbsp; &nbsp;http://www.ecpmi.org.cn/</span><br />
<span style="color:#333333;">安徽江风山月物业管理有限责任公司 &nbsp; &nbsp; &nbsp;http://www.ahjfsy.cn/</span><br />
<div>
	<br />
</div></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>