<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-live.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">生活妙招</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Info/index')}">便民信息</a>&gt;<a href="{:U('Info/index')}">生活妙招</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Info/index')}">便民信息</a>&gt;<a href="{:U('Info/index')}">生活妙招</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu"></i><i class="ion r ion-opn-sub-menu"></i></span>
         <ul>
            <li class="active"><a href="{:U('Info/index')}">生活妙招</a></li><li><a href="{:U('Info/index', 'id=2')}">房源租售</a></li><li><a href="{:U('Info/index', 'id=3')}">办事指南</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li class="active"><a href="{:U('Info/index')}">生活妙招</a></li><li><a href="{:U('Info/index', 'id=2')}">房源租售</a></li><li><a href="{:U('Info/index', 'id=3')}">办事指南</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">自救常识</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">自救常识</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：8</span><br /><br /></p>
                  <div class="clearfix gray"><span style="color:#333333;">1、电梯困人自救</span><br />
<span style="color:#333333;"> 当您被困在电梯时，请不要惊慌，务必保持镇定。按动警铃，通知物业服务人员，切不可自行处理。在设有自救功能的电梯里可采取自救措施，其方法如下：</span><br />
<span style="color:#333333;"> (1)用力瓣开轿门（需一定力度）。</span><br />
<span style="color:#333333;"> (2)轿门打开后，可看到厅门右边有根绳子，绳子联接厅门锁，可用力拉动绳子（不要松开）同时用两手左右摆动方向打开厅门。</span><br />
<span style="color:#333333;"> (3)选择方便的位置出电梯。</span><br />
<span style="color:#333333;"> 注意：电梯门开启后，请务必小心，警惕因电梯移动造成的意外事故。</span><br />
<br />
<span style="color:#333333;"> 2、煤气中毒抢救</span><br />
<span style="color:#333333;"> (1)发现煤气中毒后，先把门窗打开。</span><br />
<span style="color:#333333;"> (2)迅速把病人移到空气新鲜的地方平放，解开衣服扣子，但要防止受凉。</span><br />
<span style="color:#333333;"> (3)轻度中毒，可给病人喝一些浓茶，休息几小时即可恢复。</span><br />
<span style="color:#333333;"> (4)重度中毒应立即送医院抢救，如果发现病人呼吸、心脏已停止，必须进行人工呼吸和心脏按压直至送往医院。</span><br />
<br />
<span style="color:#333333;"> 3、触电抢救</span><br />
<span style="color:#333333;"> (1)关闭电闸，或用木棒、竹杆、塑料棒等不导电的用具将电线、电器挑开或将触电者拖离触电处。抢救触电的关键是触电者迅速脱离电源。</span><br />
<span style="color:#333333;"> (2)切勿用身体接触电者，以免自身触电。</span><br />
<span style="color:#333333;"> (3)病人离开电源后应保持安静休息。</span><br />
<span style="color:#333333;"> (4)若发现呼吸心脏微弱或停止应立即就地进行人工呼吸和心脏按压，包括转送医院的过程中，直至呼吸心跳恢复正常为止。</span><br />
<br />
<span style="color:#333333;"> 4、溺水抢救</span><br />
<span style="color:#333333;"> (1)当发现有人溺水，一方面大声呼救，另一方面应尽快投入救生圈或用救生棒将溺水者拉往上岸。</span><br />
<span style="color:#333333;"> (2)如会游泳，应脱去衣鞋，尽快入水抢救，将溺水者从从其背部拉住腋窝托出水面。</span><br />
<span style="color:#333333;"> (3)溺水者救上岸后，应立即解开衣扣，清除鼻中异物以恢复呼吸，然后迅速“倒水”。</span><br />
<div style="white-space:nowrap;">
	<br />
</div></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>