<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-live.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">工作简讯</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('News/index')}">新闻动态</a>&gt;<a href="{:U('News/index', 'id=2')}">工作简讯</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('News/index')}">新闻动态</a>&gt;<a href="{:U('News/index', 'id=2')}">工作简讯</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu"></i><i class="ion r ion-opn-sub-menu"></i></span>
         <ul>
            <li><a href="{:U('News/index')}">通知公告</a></li><li class="active"><a href="{:U('News/index', 'id=2')}">工作简讯</a></li><li><a href="{:U('News/index', 'id=3')}">物业知识</a></li><li><a href="{:U('News/index', 'id=4')}">行业资讯</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('News/index')}">通知公告</a></li><li class="active"><a href="{:U('News/index', 'id=2')}">工作简讯</a></li><li><a href="{:U('News/index', 'id=3')}">物业知识</a></li><li><a href="{:U('News/index', 'id=4')}">行业资讯</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">    公司组织开展第三季度绩效考核</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">    公司组织开展第三季度绩效考核</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：15</span><br /><br /></p>
                  <div class="clearfix gray">2016年11月2日至4日，为期三天的第三季度绩效考核圆满结束。<br />
&nbsp; &nbsp; &nbsp; &nbsp;11月2日上午9点，在公司马总的带领下，由品质部及各项目参与组成的绩效考核小组，首先对软件园进行考核。考核分为两组，一组检查档案资料；一组查看现场，根据《季度绩效考核表》从品质、工程、环境、安保四个方便着手重点查看项目在园区的服务状况，并针对检查的问题提出相应的建议。在“公平、公正”的原则下，考核小组逐一对公司所属项目进行考查。<br />
&nbsp; &nbsp; &nbsp; &nbsp;通过此次考核，强化了公司服务的标准，提高员工服务意识，为公司服务品质的提升打下了基础。<br />
<div>
	<br />
</div></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>