<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-live.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">工作简讯</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('News/index')}">新闻动态</a>&gt;<a href="{:U('News/index', 'id=2')}">工作简讯</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('News/index')}">新闻动态</a>&gt;<a href="{:U('News/index', 'id=2')}">工作简讯</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu"></i><i class="ion r ion-opn-sub-menu"></i></span>
         <ul>
            <li><a href="{:U('News/index')}">通知公告</a></li><li class="active"><a href="{:U('News/index', 'id=2')}">工作简讯</a></li><li><a href="{:U('News/index', 'id=3')}">物业知识</a></li><li><a href="{:U('News/index', 'id=4')}">行业资讯</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('News/index')}">通知公告</a></li><li class="active"><a href="{:U('News/index', 'id=2')}">工作简讯</a></li><li><a href="{:U('News/index', 'id=3')}">物业知识</a></li><li><a href="{:U('News/index', 'id=4')}">行业资讯</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">市物管中心召开2015年度工作总结会</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">市物管中心召开2015年度工作总结会</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：5</span><br /><br /></p>
                  <div class="clearfix gray"><span style="font-size:10px;color:#333333;">2016年1月22日下午，市物管中心召开了2015年度工作总结会议。会议由中心主任、书记夏天主持，中心全体职工及房管122抢修服务中心负责人参加会议。</span><br />
<br />
<span style="font-size:10px;color:#333333;">会上，丁立志副主任对2015年度工作进行了总结。2015年中心在市住建局党委、行政正确领导下，按照年度工作计划，积极高效开展了各项工作，圆满完成了全年绩效目标任务。在认真做好维修资金归集、使用工作，超额完成经济指标任务，有序开展物业管理常规工作，积极配合旧住宅区整治工作、竭力做好市住建局房管122抢修服务等工作的基础上，攻坚克难，群策群力，重点打造工作亮点：</span><br />
<br />
<span style="font-size:10px;color:#333333;">一、优化方案扩大范围，满意度调查提档升级。2015年我中心认真开展物业服务行业满意度调查工作，调查覆盖了全市为住宅项目提供服务的40家本市一级、二级资质物业管理企业，调查总户数由上年的近5000户增加到11845户。调查结果显示，无锡市物业管理行业社会公众平均满意度为80.657分，比2014年提高了1.6分，达到较满意水平。</span><br />
<br />
<span style="font-size:10px;color:#333333;">二、结合达标创优工作，推进诚信管理体系建设。积极配合市局推动达标创优工作，对全市74个申报项目进行了物业管理示范项目（平安小区）验收检查工作，对606个住宅项目进行了达标考核，并联合市、区局开展了达标抽查工作，对全市70个住宅项目进行抽查。中心以开展达标创优工作为契机，推进诚信管理系统建设，把目标小区纳入到信息平台动态管理中，进一步拓展诚信管理体系信息平台功能。</span><br />
<br />
<span style="font-size:10px;color:#333333;">三、推进高效优质服务，强化投诉处理工作。2015年我中心共受理各类咨询、投诉3076起，同比上涨22.3%，按期反馈率达100%，办结率100%。自4月起，中心对有效投诉进行了满意度回访，对其中回访答复为不满意的投诉进行继续跟踪，沟通疑难案例、竭力协调解决，将为民办实事工作落实到位。</span><br />
<br />
<span style="font-size:10px;color:#333333;">四、健全维修资金制度，切实把好安全关。为切实把好维修资金安全关，2015年中心根据实际情况，建立了《维修资金存储调拨制度》，将存储维修资金逐步由股份制商业银行向国有控股商业银行过渡。并于7月份开展了银行对账工作，与发生业务关系的32家银行仔细核对定期存款余额情况，确保业主房屋“养老金”万无一失。</span><br />
<br />
<span style="font-size:10px;color:#333333;">五、做好救助维修工作，解决百姓急难问题。2015年，中心明确了失管失修售后公房维修资金利息的使用程序，对不履行售后公房维修责任的单位，停止划转维修资金利息30%部分，对各区房管局直管的售后公房维修情况建立考核机制。对部分失管失修房改房，中心利用救助维修专项资金，委托专业单位进行维修，以解决群众面临的急难问题。</span><br />
<br />
<span style="font-size:10px;color:#333333;">六、新条例正式实施，配合做好宣贯工作。新《无锡市物业管理条例》于2015年9月1日正式实施。我中心积极配合局做好宣贯工作，印制了10000册《无锡市物业管理条例》，1000张宣传展板，开展了新条例现场解读、媒体报道、专题培训、进机关、进街道、进社区等一系列宣传活动。</span><br />
<br />
<span style="font-size:10px;color:#333333;">&nbsp;2016年，我中心将在回顾成绩、总结经验、查找不足、明确目标的基础上，创新争优，动足脑筋，提升物业企业服务水平，继续深入开展第三方满意度调查工作；加大力度推进物业管理诚信体系建设工作；竭尽所能提升维修资金管理水平，在保障资金安全的前提下做好保值增值；克服困难，确保市住建局房管122发挥社会救助作用，切实为民解忧。</span><br />
<br />
<span style="font-size:10px;color:#333333;">夏天主任要求抓紧做好2016年全年工作计划安排，对照年度工作计划，在新常态下积极推进物管各项工作。并宣读了关于中心中层干部聘任的通知和表彰2015年度先进工作者的通报，要求中心干部职工以先进为榜样，切实增强使命感和责任感，不断开拓进取，狠抓工作落实，为开创物业管理事业新局面而努力奋斗。</span><br />
<br />
<span style="font-size:10px;color:#333333;">&nbsp; &nbsp; 最后，会议上全体干部职工对中心中层干部一年来的工作业绩和能力进行了民主测评。</span><br />
<span style="font-size:10px;color:#333333;"></span></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>