<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-live.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">行业资讯</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('News/index')}">新闻动态</a>&gt;<a href="{:U('News/index', 'id=4')}">行业资讯</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('News/index')}">新闻动态</a>&gt;<a href="{:U('News/index', 'id=4')}">行业资讯</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu"></i><i class="ion r ion-opn-sub-menu"></i></span>
         <ul>
            <li><a href="{:U('News/index')}">通知公告</a></li><li><a href="{:U('News/index', 'id=2')}">工作简讯</a></li><li><a href="{:U('News/index', 'id=3')}">物业知识</a></li><li class="active"><a href="{:U('News/index', 'id=4')}">行业资讯</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('News/index')}">通知公告</a></li><li><a href="{:U('News/index', 'id=2')}">工作简讯</a></li><li><a href="{:U('News/index', 'id=3')}">物业知识</a></li><li class="active"><a href="{:U('News/index', 'id=4')}">行业资讯</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">暖气不热该找谁？ 先找物业公司 再联系供热单位</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">暖气不热该找谁？ 先找物业公司 再联系供热单位</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：7</span><br /><br /></p>
                  <div class="clearfix gray"><br />
<span style="line-height:2;color:#333333;">用暖有问题</span><br />
<span style="line-height:2;color:#333333;">第一时间联系物业公司</span><br />
<span style="line-height:2;color:#333333;">记者梳理了两方面的用热常识，相信会对您有帮助。首先来看热的交换，从热水流出供热企业，到温暖进入市民家中，过程是这样的：供热企业用锅炉制造热水，随后将热水注入主管网。在主管网覆盖范围内的小区可以提出用热申请，在小区建设换热设备及小区二次管网。小区的换热设备将主管网的热量导入小区，并通过换热设备、水泵等二次管网设备将热量送入千家万户。</span><br />
<span style="line-height:2;color:#333333;">其次来看权利义务，每个采暖季，各集中供热小区都会向市民集中收取采暖费，收齐后将采暖费支付给热力公司。因此，与市民直接产生权利义务关系的是小区物业公司（个别家属院小区为单位后勤等部门），而非热力公司。遇到用暖问题，市民应第一时间通过物业公司解决。</span><br />
<span style="line-height:2;color:#333333;">实际采访中记者发现，导致市民家中无暖气或温度不达标的原因往往出在小区。换热站换热设备漏气、换热设备未开启、小区管网老化、楼宇管网阻塞、入户过滤网阻塞、私改暖气等都是导致无暖或室温不达标的常见原因。因此，市民遇到供暖问题后应首先联系小区物业公司，并且注意上面提到的小区供暖“常见病”。这样一来，就很可能在第一时间帮您解决问题。</span><br />
<span style="line-height:2;color:#333333;">物业公司解决不了</span><br />
<span style="line-height:2;color:#333333;">再联系供热单位</span><br />
<span style="line-height:2;color:#333333;">“今年西安市首次启动了预供暖，提前两天点火、换热，就是为了在正式供热的时候达到标准。”市热力监管中心质监科科长鲁闯远说，经过监测，除施工管网外，今年提前启动预供暖后，全市主管网在13日就基本达到了供热标准，13日当天各小区启动换热后，市民普遍反映供热质量较往年有所提升。</span><br />
<span style="line-height:2;color:#333333;">截至昨日，全市各集中热力企业的出水温度基本都达到了80 ，较预供暖当天提升了10 左右。供暖正式开始后，全市主管网还将进行为期一周左右的集中调试，因此，个别小区的二次换热设备应全部开启，以帮助各供热单位获得准确数据，保证整个采暖季集中供暖用户的正常用热。</span><br />
<span style="line-height:2;color:#333333;">值得注意的是，若您遇到的用暖问题并非个例，且在小区中存在普遍性，物业公司也解决不了时，您或您所在小区的物业公司可以向所属的供热单位提出申请，协助解决。若解决无果，或温度长期不达标，您可以向所属的供热单位提出入户测温申请，以便在供暖结束后向小区物业公司申请（部分）退费。</span><br /></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>