<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-jian.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">联系我们</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Property/index')}">物业简介</a>&gt;<a href="{:U('Property/index', 'id=7')}">联系我们</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Property/index')}">物业简介</a>&gt;<a href="{:U('Property/index', 'id=7')}">联系我们</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu">&#xe607;</i><i class="ion r ion-opn-sub-menu">&#xe650;</i></span>
        <ul>
            <li><a href="{:U('Property/index')}">物业简介</a></li><li><a href="{:U('Property/index', 'id=2')}">机构介绍</a></li><li><a href="{:U('Property/index', 'id=3')}">人才招聘</a></li><li<a href="{:U('Property/index', 'id=4')}">员工风采</a></li><li><a href="{:U('Property/index', 'id=5')}">网上报修</a></li><li><a href="{:U('Property/index', 'id=6')}">业主信箱</a></li><li class="active"><a href="{:U('Property/index', 'id=7')}">联系我们</a></li>
         </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('Property/index')}">物业简介</a></li><li><a href="{:U('Property/index', 'id=2')}">机构介绍</a></li><li><a href="{:U('Property/index', 'id=3')}">人才招聘</a></li><li<a href="{:U('Property/index', 'id=4')}">员工风采</a></li><li><a href="{:U('Property/index', 'id=5')}">网上报修</a></li><li><a href="{:U('Property/index', 'id=6')}">业主信箱</a></li><li class="active"><a href="{:U('Property/index', 'id=7')}">联系我们</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs">联系我们</div>
               <div class="clearfix boxm">
                  <p class="MsoNormal">
	科大花园二期人才楼物业项目部地址：
科大花园二期人才楼<span>3</span>栋<span>102</span>室<span></span> 
</p>
<p class="MsoNormal">
	项目负责人：梁波 <span></span> 
</p>
<p class="MsoNormal">
	电话：<span> 0551-63471616 <br />
</span>传真：<span> 0551-63471616 <br />
</span>客服<span>QQ </span>：<span>2751681831</span> 
</p>
<p class="MsoNormal">
	E-mail:<b>rclwuye@163.com</b> 
</p>
<p class="MsoNormal">
	物业服务监督电话：<span>0551-63607856</span> 
</p>
<p class="MsoNormal">
	正常工作时间：<span></span> 
</p>
<p class="MsoNormal" style="text-indent:24.0pt;">
	周一至周六：早上<span>8</span>：<span>00-</span>下午<span>18</span>：<span>00</span> 
</p>
<p class="MsoNormal" style="text-indent:24.0pt;">
	周日及公众假期休息<span></span> 
</p>
<p class="MsoNormal" style="text-indent:24.0pt;">
	在上述正常工作时间外，物业项目部随时有管理人员值班，并有负责本物业<span>24</span>小时安防管理的消防护卫队员。<b>如住户有任何需要可致电<span>24</span>小时服务热线：<span>0551-63471618 </span>。</b> 
</p>
<br />               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Publicfooter" />
</body>
</html>