<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-serv.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">绿化服务</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Service/index')}">物业服务</a>&gt;<a href="{:U('Service/index', 'id=3')}">绿化服务</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Service/index')}">物业服务</a>&gt;<a href="{:U('Service/index', 'id=3')}">绿化服务</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu">&#xe607;</i><i class="ion r ion-opn-sub-menu">&#xe650;</i></span>
         <ul>
            <li><a href="{:U('Service/index')}">秩序维护</a></li><li><a href="{:U('Service/index', 'id=2')}">环境保洁</a></li><li class="active"><a href="{:U('Service/index', 'id=3')}">绿化服务</a></li><li><a href="{:U('Service/index', 'id=4')}">工程维修</a></li><li><a href="{:U('Service/index', 'id=5')}">家政服务</a></li>
          </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('Service/index')}">秩序维护</a></li><li><a href="{:U('Service/index', 'id=2')}">环境保洁</a></li><li class="active"><a href="{:U('Service/index', 'id=3')}">绿化服务</a></li><li><a href="{:U('Service/index', 'id=4')}">工程维修</a></li><li><a href="{:U('Service/index', 'id=5')}">家政服务</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs">绿化服务</div>
               <div class="clearfix boxm">
                  <span style="line-height:2;">为进一步改善小区生态环境、美化小区、美化生活，给业主提供一个整洁、优美、文明、有序的生活环境，保护绿色环境，请您注意遵守以下事项：</span><br />
<span style="line-height:2;">1、请勿砍伐攀折花木，划树皮摘花果，在树木上晾晒衣物或在树木风尚扎铁丝、打铁钉、拉绳等；</span><br />
<span style="line-height:2;">2、请勿在绿化带倾倒污水、淤泥、杂物、垃圾以及不利于植物生长的废物；</span><br />
<span style="line-height:2;">3、未经允许，请勿在树木及绿化地内放置各种广告标语、路牌；请勿在绿化地堆放物品及停放车辆；损坏绿化设施；</span><br />
<span style="line-height:2;">4、工程施工或维修时请勿在树旁、草地上堆放物料和采挖砂石、泥土等；</span><br />
<span style="line-height:2;">5、请勿践踏绿化草地、树木；</span><br />
<span style="line-height:2;">6、请勿占用绿化地；</span><br />
<span style="line-height:2;">7、请勿在花木、建筑物、雕塑小品上拉绳晾晒衣物；</span><br />
<span style="line-height:2;">8、请勿乱摘花草；</span><br />
<span style="line-height:2;">9、请勿在绿化地内停放任何机动车和非机动车；</span><br />
<span style="line-height:2;">10、提倡、鼓励业主在围栏内布置花草，在自家阳台上种植花卉，但是阳台置放的盆景要有保护架等安全措施，以防发生意外；</span><br />
<span style="line-height:2;">11、对于人为造成绿化及设施损坏的，物业项目部有权根据政府的有关规定进行处理。</span><br />
<div>
	<br />
</div>               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />
</body>
</html>