<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />


<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-serv.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">工程维修</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Service/index')}">物业服务</a>&gt;<a href="{:U('Service/index', 'id=4')}">工程维修</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Service/index')}">物业服务</a>&gt;<a href="{:U('Service/index', 'id=4')}">工程维修</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu">&#xe607;</i><i class="ion r ion-opn-sub-menu">&#xe650;</i></span>
         <ul>
            <li><a href="{:U('Service/index')}">秩序维护</a></li><li><a href="{:U('Service/index', 'id=2')}">环境保洁</a></li><li><a href="{:U('Service/index', 'id=3')}">绿化服务</a></li><li class="active"><a href="{:U('Service/index', 'id=4')}">工程维修</a></li><li><a href="{:U('Service/index', 'id=5')}">家政服务</a></li>
          </ul>
      </div>
   </div>   
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li><a href="{:U('Service/index')}">秩序维护</a></li><li><a href="{:U('Service/index', 'id=2')}">环境保洁</a></li><li><a href="{:U('Service/index', 'id=3')}">绿化服务</a></li><li class="active"><a href="{:U('Service/index', 'id=4')}">工程维修</a></li><li><a href="{:U('Service/index', 'id=5')}">家政服务</a></li><li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs">工程维修</div>
               <div class="clearfix boxm">
                  <span style="line-height:2;">物业项目部根据工作计划和安排，每天会安排工程人员在小区内公共区域进行巡查，发现设施损坏及时维修并记录。</span><br />
<span style="line-height:2;">*业主如要求维修家居设备。如空调、电力、给排水系统等，可致电物业项目部，电话：0551-63471618。我们会尽快安排工程人员帮助您处理家居维修事宜，而期间产生的人工及耗材费用则由住户负责。</span><br />
<span style="line-height:2;">*请勿损坏公共设备，否则需要赔偿损失。</span><br />
<span style="line-height:2;">*请勿把废弃物丢入各渠道（如下水道等），否则需对损坏/堵塞修理负责。</span><br />
<span style="line-height:2;">*请正当的使用室内电器。失修/损坏/质劣电器易导致火警。</span><br />
<span style="line-height:2;">*请勿涂划/刮画任何公共部分如墙壁等，亦请不要在公共部位随便吐痰或便溺。</span><br />
<span style="line-height:2;">*请爱护公物，若发现有人为损坏事件请立即报物业项目部。</span><br />
<div>
	<br />
</div>               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />

</body>
</html>