<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>科大花园二期物业服务网</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css" rel="stylesheet">
<link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/public.css" rel="stylesheet">
<!--[if lt IE 9]>
   <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<!--#header-->
<include file="Public/header" />

<!--#banner-->
<section class="clearfix"><img src="__PUBLIC__/images/ban-about.jpg" class="img-responsive"></section>
<!--#main-->
<section class="clearfix bgea pad-v-md">
   <div class="container">
      <div class="hidden-xs clearfix p-nav-box p-nm">
         <p class="m">小区简介</p><p class="ng">当前所在位置：<a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Village/index')}">小区介绍</a>&gt;<a href="{:U('Village/index','id=2')}">周边配置</a></p>
      </div>
      <div class="clear p-nav-box visible-xs">
         <small class="catename"><a href="{:U('Index/index')}">首页</a>&gt;<a href="{:U('Village/index')}">小区介绍</a>&gt;<a href="{:U('Village/index')}">小区简介</a></small>
         <span class="pull-right"><i class="ion hidden ion-cls-sub-menu"></i><i class="ion r ion-opn-sub-menu"></i></span>
         <ul>
            <li class="active"><a href="{:U('Village/index')}">小区简介</a></li><li><a href="{:U('Village/index', 'id=2')}">周边配套</a></li>  </ul>
      </div>
   </div>      
   <div class="clearfix pad-sm visible-lg"></div>
   <div class="container clearfix">
      <div class="row">
         <div class="col-lg-1s col-md-12 hidden-xs">
            <div class="p-submenu">
               <ul>
                  <li ><a href="{:U('Village/index')}">小区简介</a></li><li class="active"><a href="{:U('Village/index', 'id=2')}">周边配套</a></li>                  <li class="visible-lg"><a href="javascript:void(0);">&nbsp;</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-11s  col-md-12">
            <div class="pm-box">
               <div class="p-t hidden-xs text-center">周边公交</div>
               <div class="clearfix boxm">
                  <div class="clearfix text-center pad-v-md pad-h-xs visible-xs f-md">周边公交</div>
                  <p class="text-center"><span>日期：2016-11-16</span>&nbsp;<span>阅读：19</span><br /><br /></p>
                  <div class="clearfix gray"><span style="line-height:2;color:#666666;">
<p class="MsoNormal" style="white-space:normal;">
	&nbsp;科大花园二期附近共有两处公交站点，分别位于水阳江路的卫塘站和徽州大道的卫塘站，周边有14条公交线路.
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp;水阳江路上的卫唐站公交车有：108路（合肥南站——植物园站）运营时段6：00-22：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;41路（柳树塘站——和平广场站）运营时段6：00-19：30。
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp;徽州大道上的卫唐站公交车有： &nbsp; 4路（荣城花园站——合肥南站站）运营时段6：00-22：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;11路（合肥南站站——中绿广场站）运营时段6:00-21:30;
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;116路（同和民康小区站——望龙学校站）运营时段6：00-22：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;703路（合肥南站站——市府广场站）运营时段21：00-22：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;14路（淝河镇站——建材一厂站)运营时段6：00-22：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;T12路（省政务中心站——安居苑站）运营时段17：00-18：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;235路（滁州路站——临湖社区站）运营时段6：00-21：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;51路（省电气学校站——合肥南站站）运营时段6：30-19：30；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;60路（佳源巴黎都市站——东陈岗站）运营时段6：00-21：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;K1路（市府广场——滨湖时代广场）运营时段6：00-22：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;702路（淝河停保场站——淝河停保场站）运营时段19：00-23：00；
</p>
<p class="MsoNormal" style="white-space:normal;">
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;135路（十五里河站——郎溪路枢纽站）运营时段6：00-22：00。
</p>
</span>
<div>
	<br />
</div></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!--#footer-->
<include file="Public/footer" />

</body>
</html>