<extend name="./Public/admin/index.html"/>
<block name="css">

</block>
<block name="main">
<div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-body pad-v">
                <form name="import_form" class="form-horizontal" method="post" action="" >
                     <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">名称：</label>
                        <div class="col-sm-2 col-xs-12">
                           <input type="text" class="form-control" name="title" id="title" value="{$rs['title']}">
                           <input type="hidden" id="doid" value="{$rs['id']}" />
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="groupid" class="col-sm-2 control-label">位置：</label>
                        <div class="col-sm-2 col-xs-12">
                           <select name="groupid" id="groupid" class="form-control">
                              <volist name="catearr" id="rscate">
                                 <option value="{$rscate['id']}" <if condition="$rscate['id'] eq $rs['groupid']">selected='selected'</if>>{$rscate['name']}</option>
                              </volist>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="links" class="col-sm-2 control-label">链接：</label>
                        <div class="col-sm-4 col-xs-12">
                           <input type="text" class="form-control" name="links" id="links" value="{$rs['links']}">
                        </div>
                     </div>
                     <div class="form-group">
                          <label for="pic" class="col-sm-2 col-xs-12 control-label">图片：</label>
                          <div class="col-sm-3 col-xs-8">
                             <p><input type="text" class="form-control" name="pic" id="pic" value="{$rs['pic']}" /></p>
                             <p><button type="button" class="btn btn-danger upload_button" id="file_upload_01" data-input="pic" data-img="pic_pic">上传</button><i class="pull-right" id="loading" style="display:none;"><img src="__PUBLIC__/admin/dist/img/loading.gif" /></i></p>
                             <p><small class="text-muted">建议尺寸：200/200(px)</small></p>                           
                          </div>
                          <div class="col-sm-1 col-xs-4">
                             <img src="__PUBLIC__/admin/dist/img/nopic.jpg" id="pic_pic" class="img-responsive" />
                          </div>
                     </div>
                     <div class="form-group">
                        <label for="content" class="col-sm-2 control-label">描述：</label>
                        <div class="col-sm-4 col-xs-12">
                           <textarea name="content" id="content" class="form-control">{$rs['content']}</textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="taxis" class="col-sm-2 control-label">排序：</label>
                        <div class="col-sm-1 col-xs-12">
                           <input type="text" class="form-control" name="taxis" id="taxis" value="{$rs['taxis']}">
                        </div>
                     </div>
                     <div class="form-group form-actions">
                        <div class="col-sm-10 col-sm-offset-2">
                           <button type="button" class="btn btn-danger btn-sub-fm"> <i class="icon-ok bigger-110"></i>确认编辑</button>
                        </div>
                     </div>
                </form> 
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
</block>
<block name="js">
<script language="javascript">
$(function(){
   $('.btn-sub-fm').click(function(){
      var title = $.trim($('#title').val());
	  var groupid = $.trim($('#groupid').val());
	  var links = $.trim($('#links').val());
	  var pic = $.trim($('#pic').val());
	  var taxis = $.trim($('#taxis').val());
	  var content = $.trim($('#content').val());
	  var doid = $.trim($('#doid').val());
	  
	  if(title == ""){
	     $.fn.tips({type:'error',content:'名称不可为空'});
		 $('#title').focus().parents('.form-group').addClass('has-error');
		 return false;
	  }else if(pic == ""){
	     $.fn.tips({type:'error',content:'图片不可为空'});
		 $('#pic').focus().parents('.form-group').addClass('has-error');
		 return false;
	  }
	  $.ajax({
		url : "{:U('/Carousel/update')}",
		type : "POST",
		data : {"doid":doid,"title":title,"groupid":groupid,"links":links,"pic":pic,"taxis":taxis,"content":content},
		success : function(d){
		   $.fn.tips({'type':d.type,'content':d.content,'url':d.url});
		}
	  });
   });
});
</script>
</block>