<extend name="./Public/admin/index.html"/>
<block name="css">

<link rel="stylesheet" href="__PUBLIC__/admin/plugins/select2/select2.min.css">
</block>
<block name="main">
<div class="row">
   <div class="col-xs-12">
      <form name="import_form" method="post" onsubmit="return checkfm();" action="{:U('/Content/update')}">
      <div class="nav-tabs-custom">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#default" data-toggle="tab">基本</a></li>
            <li><a href="#piclis" class="piclisTab" data-toggle="tab">图集</a></li>
            <!--            
            <li><a href="#remark" class="remarkTab" data-toggle="tab">自定义字段</a></li> 
            -->
         </ul>         
         <div class="tab-content form-horizontal">            
            
            <div class="active tab-pane" id="default">
               <if condition="count($catelis) gt 0">
               <div class="form-group">
                  <label for="catename" class="col-sm-2 control-label">分类：</label>
                  <div class="col-sm-2 col-xs-12">
                     <select name="cateid" id="cateid" class="form-control">                                 
                        <option value="{$focusid}" <if condition="$rs['cateid'] eq $focusid">selected='selected'</if>>{$focusname}</option>
                        <volist name='catelis' id='rscate'> 
                        <option value="{$rscate['id']}" <if condition="$rs['cateid'] eq $rscate['id']">selected='selected'</if>><for start="0" end="$rscate['level']">∟</for>{$rscate['catename']}</option>
                        </volist>
                     </select>
                  </div>
               </div>
               <else />
               <input type="hidden" name="cateid" value="{$focusid}" />
               </if>
               <input type="hidden" name="bkid" value="{$focusid}" />
               <input type="hidden" name="doid" value="{$rs['id']}" />
               <div class="form-group">
                  <label for="title" class="col-sm-2 control-label">标题：</label>
                  <div class="col-sm-4 col-xs-12">
                     <input type="text" class="form-control" name="title" id="title" value="{$rs['title']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="tags" class="col-sm-2 control-label">标签：</label>
                  <div class="col-sm-4 col-xs-12">
                     <input type="text" class="form-control" name="tags" id="tags" value="{$rs['tags']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="defaultpic" class="col-sm-2 col-xs-12 control-label">图片：</label>
                  <div class="col-sm-3 col-xs-8">
                     <p><input type="text" class="form-control" name="defaultpic" id="defaultpic" value="{$rs['defaultpic']}" /></p>
                     <p><button type="button" class="btn btn-danger upload_button" id="file_upload_01" data-input="defaultpic" data-img="defaultpic_pic">上传</button><i class="pull-right" id="loading" style="display:none;"><img src="__PUBLIC__/admin/dist/img/loading.gif" /></i></p>
                     <p><small class="text-muted">建议尺寸：1045/590(px)</small></p>                           
                  </div>
                  <div class="col-sm-1 col-xs-4">
                     <img src="__PUBLIC__/admin/dist/img/nopic.jpg" id="defaultpic_pic" class="img-responsive" />
                  </div>
               </div>
               <!-- <div class="form-group">
                  <label for="sid" class="col-sm-2 control-label">关联展馆：</label>
                  <div class="col-sm-4 col-xs-12">
                     <select class="form-control" name="sid" id="sid">
                        <option value="0">不选择</option>
                        <volist name="plis" id="rsp">
                           <option value="{$rsp['id']}" <if condition="$rs['sid'] eq $rsp['id']">selected='selected'</if>>{$rsp['catename']}</option>
                        </volist>
                     </select>
                  </div>
               </div> -->
               <div class="form-group hidden-xs">
                  <label for="docsrc" class="col-sm-2 control-label">相关下载：</label>
                  <div class="col-sm-3 col-xs-12">
                     <input type="text" class="form-control" name="docsrc" id="docsrc" value="{$rs['docsrc']}">
                  </div>
                  <div class="col-sm-7 col-xs-12"><button type="button" class="btn btn-danger fzupbtn" data-input="docsrc">上传</button></div>
               </div>
               <!--
               <div class="form-group">
                  <label for="poster-big" class="col-sm-2 col-xs-12 control-label">海报横版：</label>
                  <div class="col-sm-3 col-xs-8">
                     <p><input type="text" class="form-control" name="poster-big" id="poster-big" value="{$rs['poster-big']}" /></p>
                     <p><button type="button" class="btn btn-danger upload_button" id="file_upload_02" data-input="poster-big" data-img="poster-big_pic">上传</button><i class="pull-right" id="loading" style="display:none;"><img src="__PUBLIC__/admin/dist/img/loading.gif" /></i></p>
                     <p><small class="text-muted">建议尺寸：1920/500(px)</small></p>                           
                  </div>
                  <div class="col-sm-1 col-xs-4">
                     <img src="__PUBLIC__/admin/dist/img/nopic.jpg" id="poster-big_pic" class="img-responsive" />
                  </div>
               </div>
               <div class="form-group">
                  <label for="poster-small" class="col-sm-2 col-xs-12 control-label">海报竖版：</label>
                  <div class="col-sm-3 col-xs-8">
                     <p><input type="text" class="form-control" name="poster-small" id="poster-small" value="{$rs['poster-small']}" /></p>
                     <p><button type="button" class="btn btn-danger upload_button" id="file_upload_03" data-input="poster-small" data-img="poster-small_pic">上传</button><i class="pull-right" id="loading" style="display:none;"><img src="__PUBLIC__/admin/dist/img/loading.gif" /></i></p>
                     <p><small class="text-muted">建议尺寸：352/500(px)</small></p>                           
                  </div>
                  <div class="col-sm-1 col-xs-4">
                     <img src="__PUBLIC__/admin/dist/img/nopic.jpg" id="poster-small_pic" class="img-responsive" />
                  </div>
               </div>
               <div class="form-group">
                  <label for="playurl" class="col-sm-2 control-label">播放链接：</label>
                  <div class="col-sm-4 col-xs-12">
                     <input type="text" class="form-control" name="playurl" id="playurl" value="{$rs['playurl']}">
                  </div>
               </div>
               -->
               <!-- <div class="form-group">
                  <label for="thebeg" class="col-sm-2 control-label">开始时间：</label>
                  <div class="col-sm-2 col-xs-12">
                     <input type="text" class="form-control" name="thebeg" id="thebeg" value="{$rs['thebeg']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="theed" class="col-sm-2 control-label">结束时间：</label>
                  <div class="col-sm-2 col-xs-12">
                     <input type="text" class="form-control" name="theed" id="theed" value="{$rs['theed']}">
                  </div>
               </div> -->
               <div class="form-group">
                  <label for="shortcontent" class="col-sm-2 control-label">简介：</label>
                  <div class="col-sm-10 col-xs-12">
                     <textarea class="easyedit" style="width:100%; height:200px;" name="shortcontent">{$rs['shortcontent']}</textarea>
                  </div>
               </div>
               <div class="form-group">
                  <label for="content" class="col-sm-2 control-label">正文：</label>
                  <div class="col-sm-10 col-xs-12">
                     <textarea class="kindeditor" style="width:100%; height:300px;" name="content">{$rs['content']|htmlspecialchars}</textarea>
                  </div>
               </div>
               <div class="form-group">
                  <label for="author" class="col-sm-2 control-label">作者：</label>
                  <div class="col-sm-2 col-xs-12">
                     <input type="text" class="form-control" name="author" id="author" value="{$rs['author']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="comefrom" class="col-sm-2 control-label">来源：</label>
                  <div class="col-sm-1 col-xs-12">
                     <input type="text" class="form-control" name="comefrom" id="comefrom" value="{$rs['comefrom']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="hits" class="col-sm-2 control-label">点击率：</label>
                  <div class="col-sm-2 col-xs-12">
                     <input type="text" class="form-control" name="hits" id="hits" value="{$rs['hits']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="links" class="col-sm-2 control-label">链接：</label>
                  <div class="col-sm-4 col-xs-12">
                     <input type="text" class="form-control" name="links" id="links" value="{$rs['links']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="isgood" class="col-sm-2 control-label">推荐：</label>
                  <div class="col-sm-1 col-xs-12">
                     <select name="isgood" id="isgood" class="form-control">
                        <option value="0" <if condition="$rs['isgood'] eq 0">selected='selected'</if>>否</option>
                        <option value="1" <if condition="$rs['isgood'] eq 1">selected='selected'</if>>是</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label for="isfocus" class="col-sm-2 control-label">焦点：</label>
                  <div class="col-sm-1 col-xs-12">
                     <select name="isfocus" id="isfocus" class="form-control">
                        <option value="0" <if condition="$rs['isfocus'] eq 0">selected='selected'</if>>否</option>
                        <option value="1" <if condition="$rs['isfocus'] eq 1">selected='selected'</if>>是</option>
                     </select>
                  </div>
               </div>
               
               <div class="form-group">
                  <label for="addtime" class="col-sm-2 control-label">时间：</label>
                  <div class="col-sm-4 col-xs-12">
                     <input type="text" class="form-control" name="addtime" id="addtime" value="{$rs['addtime']}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="taxis" class="col-sm-2 control-label">排序：</label>
                  <div class="col-sm-1 col-xs-12">
                     <input type="text" class="form-control" name="taxis" id="taxis" value="{$rs['taxis']}">
                  </div>
               </div>
                             
            </div>
            
            <div class="tab-pane" id="piclis">               
               
               <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1 col-xs-12 hidden-xs">
                     <div class="callout callout-light">
                        <p>可同时上传20张以内照片，图集内容处理成相同尺寸，建议大小为：420*300。</p>
                     </div>                     
                     <p><input type="hidden" name="picarr" id="picarr" value="{$rs['picarr']}"></p>
                     <button type="button" class="btn btn-danger fupDTbtn" data-input="picarrlist" data-hidden="picarr">上传</button>
                  </div>
                  <div class="col-xs-12 visible-xs text-red text-center">图集上传请通过电脑登录操作</div>
               </div>
               <div class='form-group'>
                  <div class='col-sm-10 col-sm-offset-1 col-xs-12' id="picarrlist" style="padding-left:0;">
                     <volist name='vopiccm' id='pic'>
                        <div class='col-sm-2 col-xs-4'><p><img src='/{$pic[pic]}' class='img-responsive' /></p><p><input type='text' class='form-control text-center' name='picarrcm[]' value='{$pic[piccm]}' /></p><p class='text-center'><a href='javascript:void(0);' data-replace='{$pic[pic]}' onclick='delpicarr(this)'><i class='fa fa-trash text-red'></i></a></p></div>                        
                     </volist>
                  </div>   
               </div>               
            </div>             
                         
                        
            
         </div>         
      </div>
      <div class="clearfix"><button type="submit" class="btn btn-info"> <i class="icon-ok bigger-110"></i>确认编辑</button></div>
      </form> 
        
   </div>
   <!-- /.col -->
</div>
</block>
<block name="js">
<script src="__PUBLIC__/admin/plugins/select2/select2.full.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/kindEditor/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindEditor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindEditor/lang/zh_CN.js"></script>
<script language="javascript">
function checkfm(){
   var title = $('#title').val();
   var stock = $('#stock').val();
   //var content = $('.kindeditor').val();
   //alert(content);
   if(title == ""){
	  $.fn.tips({type:'error',content:'标题不可为空'});
	  $('#title').focus().parent().parent().addClass('has-error');
	  return false;
   }else if(stock == '' || stock == 0){
      $.fn.tips({type:'error',content:'请输入库存不可为空'});
	  $('#stock').focus().parent().parent().addClass('has-error');
	  return false;
   }else{
      return true;
   }
}
KindEditor.ready(function(K) {
   var editor = K.editor({
      uploadJson : '__PUBLIC__/kindEditor/php/upload_json.php',
      fileManagerJson : '__PUBLIC__/kindEditor/php/file_manager_json.php',
	  allowFileManager : true
   });
   K('.fzupbtn').click(function() {
					var fzArray = K("#"+K(this).attr("data-input"));
					editor.loadPlugin('insertfile', function() {
						editor.plugin.fileDialog({
							fileUrl : fzArray.val(),
							clickFn : function(url, title) {
								fzArray.val(url);
								editor.hideDialog();
							}
						});
					});
   });
   K('.fupDTbtn').click(function() {
					var DTArray = K("#"+K(this).attr("data-input"));
					var DTList = K("#"+K(this).attr("data-hidden"));
					var strTemp = DTList.val();
					var DTshow = DTArray.html();
					editor.loadPlugin('multiimage', function() {
						editor.plugin.multiImageDialog({
							clickFn : function(urlList) {
								var div = DTArray;
								div.html('');
								K.each(urlList, function(i, data) {
									DTshow += "<div class='col-sm-2 col-xs-4'><p><img src='"+data.url+"' class='img-responsive' /></p><p><input type='text' class='form-control' name='picarrcm[]' /></p><p class='text-center'><a href='javascript:void(0);' data-replace='"+data.url+"' onclick='delpicarr(this)'><i class='fa fa-trash text-red'></i></a></p></div>";
									strTemp+="|"+data.url.replace("/public/kindEditor/php/../../../","");
									//alert(DTshow);
								});
								//alert(DTList.html());
								DTList.val(strTemp);
								DTArray.html(DTshow);
								editor.hideDialog();
							}
						});
                    });
   });
   K.create('.easyedit', {
                items : [ 'source', '|', 'undo', 'redo', '|', 'image' ,'|', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', 'strikethrough', '|','link', 'unlink']
   });
   K.create('.kindeditor', {
      uploadJson : '__PUBLIC__/kindEditor/php/upload_json.php',
      fileManagerJson : '__PUBLIC__/kindEditor/php/file_manager_json.php',
      allowFileManager : true,
	  filterMode: false
   });
});
function delpicarr(e){
   var obj = $(e);
   var str = obj.attr('data-replace');
   str = '|'+str.replace('/public/kindEditor/php/../../../','');
   var dmstr = $('#picarr').val();
   //alert(dmstr);
   dmstr = dmstr.replace(str,'');
   $('#picarr').val(dmstr);
   obj.parent().parent().remove();
   //dmstr = $('#picarr').val();
   //alert(dmstr);
}
</script>
</block>