<extend name="./Public/admin/index.html"/>
<block name="css">

<link rel="stylesheet" href="__PUBLIC__/admin/plugins/datepicker/datepicker3.css">
  <link rel="stylesheet" href="__PUBLIC__/admin/plugins/select2/select2.min.css">
</block>
<block name="main">
<div class="row">
   <div class="col-xs-12">
      <form name="import_form" method="post" action="{:U('/Goods/inscate')}">
      <div class="nav-tabs-custom">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#default" data-toggle="tab">新增优惠券</a></li>
         </ul>         
         <div class="tab-content form-horizontal">            
            
            <div class="active tab-pane" id="default">
               
               <div class="form-group">
                  <label for="title" class="col-sm-2 control-label">名称：</label>
                  <div class="col-sm-3 col-xs-12">
                     <input type="text" class="form-control" name="title" id="title">
                  </div>
               </div>
               <div class="form-group">
                  <label for="num" class="col-sm-2 control-label">数量：</label>
                  <div class="col-sm-1 col-xs-12">
                     <input type="text" class="form-control" name="num" id="num">
                  </div>
               </div>
               <div class="form-group">
                  <label for="num" class="col-sm-2 control-label">面值：</label>
                  <div class="col-sm-1 col-xs-12">
                     <input type="text" class="form-control" name="faceval" id="faceval">
                  </div>
               </div>
               <div class="form-group">
                  <label for="btime" class="col-sm-2 control-label">生效时间：</label>
                  <div class="col-sm-2 col-xs-12">
                     <input type="text" class="form-control datepicker" name="btime" id="btime">
                  </div>
               </div>
               <div class="form-group">
                  <label for="etime" class="col-sm-2 control-label">过期时间：</label>
                  <div class="col-sm-2 col-xs-12">
                     <input type="text" class="form-control datepicker" name="etime" id="etime">
                  </div>
               </div>
                             
            </div>             
                        
         </div>         
      </div>
      <div class="clearfix"><button type="button" class="btn btn-info btn-sub-fm"> <i class="icon-ok bigger-110"></i>确认添加</button></div>
      </form> 
        
   </div>
   <!-- /.col -->
</div>
</block>
<block name="js">
<script src="__PUBLIC__/admin/plugins/datepicker/bootstrap-datepicker.js"></script>
<script language="javascript">
$(function(){   
   
   $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
	  autoclose: true
   });
   
   $('.btn-sub-fm').click(function(){
      
	  var title = $.trim($('#title').val());
	  var num = $.trim($('#num').val());
	  var faceval = $.trim($('#faceval').val());
	  var btime = $.trim($('#btime').val());
	  var etime = $.trim($('#etime').val());
	  //alert(remark);
	  //return;
	  if(title == ''){
	     $.fn.tips({type:'error',content:'名称不可为空'});
		 $('#title').parent().parent().addClass('has-error');
		 return false;
	  }else if(num == ''){
	     $.fn.tips({type:'error',content:'数量不可为空'});
		 $('#num').parent().parent().addClass('has-error');
		 return false;   
	  }else if(faceval == ''){
	     $.fn.tips({type:'error',content:'面值不可为空'});
		 $('#faceval').parent().parent().addClass('has-error');
		 return false;   
	  }else if(btime == ''){
	     $.fn.tips({type:'error',content:'生效日期不可为空'});
		 $('#btime').parent().parent().addClass('has-error');
		 return false;   
	  }else if(etime == ''){
	     $.fn.tips({type:'error',content:'过期日期不可为空'});
		 $('#etime').parent().parent().addClass('has-error');
		 return false;   
	  }
	  
	  $.ajax({
	     url : "{:U('/Coupon/inscoupon')}",
		 type : "POST",
		 data : {'title':title,'num':num,'hasnum':num,'faceval':faceval,'btime':btime,'etime':etime},
		 beforeSend: function(){
		    $('.btn-sub-fm').html("<img src='__PUBLIC__/admin/dist/img/loading.gif' width='20' />");
		 },
		 success : function(d){
		    $.fn.tips({'type':d.type,'content':d.msg,'url':d.url});
		 }
	  });
	  //alert(picarr);
	  
   });
});
</script>
</block>