<extend name="./Public/admin/index.html"/>
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/admin/plugins/datepicker/datepicker3.css">
</block>
<block name="main">
<div class="row hidden">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">当前订单总量</span>
              <span class="info-box-number pad-v-xs">{$count['orders']}</span>
              <span class="info-box-more"><a href="{:U('/Order/index')}" class="small text-muted">明细 <i class="fa fa-angle-right"></i></a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-shopping-cart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">商城商品数</span>
              <span class="info-box-number pad-v-xs">{$count['goods']}</span>
              <span class="info-box-more"><a href="{:U('/Goods/index')}" class="small text-muted">详情 <i class="fa fa-angle-right"></i></a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-heart-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">积分商品</span>
              <span class="info-box-number pad-v-xs">{$count['gifts']}</span>
              <span class="info-box-more"><a href="{:U('/Gift/index')}" class="small text-muted">详情 <i class="fa fa-angle-right"></i></a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">会员粉丝</span>
              <span class="info-box-number pad-v-xs">{$count['users']}</span>
              <span class="info-box-more"><a href="{:U('/Users/index')}" class="small text-muted">详情 <i class="fa fa-angle-right"></i></a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
</div>
<!-- /.row -->
<div class="row hidden">
   <div class="col-md-6">
      <div class="box box-info">
         <div class="box-header with-border">
            <h3 class="box-title">资讯点击排行</h3>
            <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
         </div>
         <div class="box-body">
            <ul class="products-list product-list-in-box">
                <Jwcms:list id="15" field="shortcontent,hits" order="hits desc" limit="0,6">
                <li class="item">
                  <div class="product-img">
                    <img src="{$rs['defaultpic']}" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <p style="padding:4px 0; margin:0;"><a href="/index.php/Show/index/id/{$rs['id']}.html" target="_blank" class="product-title">{$rs['title']}<span class="pull-right">{$rs['hits']}</span></a></p>
                    <span class="product-description">{$rs['shortcontent']|chinesesubstr=0,160}</span>
                  </div>
                </li>
                </Jwcms:list>
              </ul>
         </div>
      <!-- /.box-body -->
      </div>
   </div>
   
   <div class="col-md-6">
      <div class="box box-success">
         <div class="box-header with-border">
            <h3 class="box-title">作品点击排行</h3>
            <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
         </div>
         <div class="box-body">
            <ul class="products-list product-list-in-box">
                <Jwcms:list id="11" field="shortcontent,hits" order="hits desc" limit="0,6">
                <li class="item">
                  <div class="product-img">
                    <img src="{$rs['defaultpic']}" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <p style="padding:4px 0; margin:0;"><a href="/index.php/Show/index/id/{$rs['id']}.html" target="_blank" class="product-title">{$rs['title']}<span class="pull-right">{$rs['hits']}</span></a></p>
                    <span class="product-description">{$rs['shortcontent']|chinesesubstr=0,160}</span>
                  </div>
                </li>
                </Jwcms:list>
              </ul>
         </div>
      <!-- /.box-body -->
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="box box-danger">
         <div class="box-header with-border">
            <h3 class="box-title">日历</h3>
            <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
         </div>
         <div class="box-body">
            <div id="calendar" style="width: 100%"></div>
         </div>
      <!-- /.box-body -->
      </div>
   </div>
   <div class="col-md-6">
      <div class="box box-primary">
         <div class="box-header with-border">
            <h3 class="box-title">服务器基本信息</h3>
            <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
         </div>
         <div class="box-body" style="line-height:40px;">
            <table class="table table-hover">
                     <tr>
                        <td>服务器名：<?php echo $_SERVER['SERVER_NAME']; ?></td>
                        <td>站点目录：<?php echo $_SERVER['DOCUMENT_ROOT']; ?></td>
                     </tr>
                     <tr>
                        <td>Php版本：<?php echo PHP_VERSION; ?></td>
                        <td>Zend版本：<?php echo zend_version(); ?></td>
                     </tr>
                     <tr>
                        <td>Mysql支持：<?php echo function_exists (mysql_close)?"是":"否"; ?></td>
                        <td>Mysql版本：<?php echo mysql_get_server_info(); ?></td>
                     </tr>
                     <tr>
                        <td>最大上传限制：<?php echo get_cfg_var ("upload_max_filesize")?get_cfg_var ("upload_max_filesize"):"不允许上传附件"; ?></td>
                        <td>最大执行时间：<?php echo get_cfg_var("max_execution_time")."秒 "; ?></td>
                     </tr>
                     <tr>
                        <td>服务器操作系统：<?php echo PHP_OS; ?></td>
                        <td>当前时间：<?php date_default_timezone_set (PRC); echo date("Y-m-d G:i:s"); ?></td>
                     </tr>
                  </table>
         </div>
      <!-- /.box-body -->
      </div>
   </div>
</div>
<style type="text/css">
.chart-legend li{ list-style:none; }
.chart-legend li span.doughnut-legend-icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
</style>
</block>
<block name="js">
<script src="__PUBLIC__/admin/plugins/datepicker/bootstrap-datepicker.js"></script>
<script language="javascript">
$(function(){
   $("#calendar").datepicker();	
});
</script>
</block>