<extend name="./Public/admin/index.html"/>
<block name="css">

<link rel="stylesheet" href="__PUBLIC__/admin/plugins/select2/select2.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="__PUBLIC__/admin/plugins/iCheck/all.css">
</block>
<block name="main">
<div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">            
            <!-- /.box-header -->
            <div class="box-body">
             <!--
             <form name="form1" method="post" action="{:U('/Order/ordpla')}">
             <div class="clearfix pad-b row">
                <div class="col-sm-2 col-xs-12"><input type="text" name="sj" class="form-control" placeholder="手机号" /></div>
                <div class="col-sm-1 col-xs-4"><button type="submit" class="btn btn-success btn-block"><i class="fa fa-search"></i> 搜索</button></div>
             </div>
             </form>
             -->
             <div class="table-responsive">  
                 <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                       <tr>
                          <th class="text-center">
                            <input id="checkall" class="minimal-red" type="checkbox">
                          </th>
                          <th>ID</th>
                          <th class="text-center">展会服务</th>
                          <th class="text-center">展会日期</th>
                          <th class="text-center">申报日期</th>
                          <th class="text-center">场馆名称</th>                          
                          <th class="text-center">预计面积</th>
                          <th class="text-center">操作</th>
                       </tr>
                    </thead>
                    <tbody>
                       <volist name='list' id='rs'>
                       <tr>
                          <td class="text-center">
                             
                                <input name="for-dosth" value="{$rs['id']}" class="minimal-red" type="checkbox">
                             
                          </td>
                          <td><a href="javascript:void(0);" data-id="{$rs['id']}" class="mdjs">{$rs['id']}</a></td>
                          <td class="text-center">{$rs['zhfw']}</td>
                          <td class="text-center">{$rs['zhrq']}</td>
                          <td class="text-center">{$rs['sbrq']}</td>
                          <td class="text-center">{$rs['cgmc']}</td>
                          <td class="text-center">{$rs['yjmj']}</td>
                          <td class="text-center">
                             <a class="btn btn-xs btn-info mdjs" href="javascript:void(0);" data-id="{$rs['id']}">
                               <i class="fa fa-edit"></i> 查看
                             </a>
                             <a class="btn btn-xs btn-danger btn-del" href="javascript:void(0);" data-id="{$rs['id']}">
                               <i class="fa fa-trash"></i> 删除
                             </a>                             
                          </td>
                       </tr>
                       </volist>
                    </tbody>
                 </table>
             </div>
             <div class="clearfix"><a class="btn btn-danger btn-sm btn-sub-del" href="javascript:void(0);"><i class="fa fa-trash"></i> 删除订单</a></div>
             <div class="clearfix pad-v pager-admin">{$pagination}</div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
</div>
<div class="modal fade" id="myModal">
   <div class="modal_wrapper">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">订单详情</h4>
         </div>
         <div class="modal-body">
            
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
         </div>
      </div>
   </div>
   </div>
</div>
<style type="text/css">
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ vertical-align:middle; }
.pb{ padding-bottom:15px; }
.modal-body .lh{ line-height:34px; }
.modal-body .sm{ font-size:20px; line-height:32px; }
.modal-body .sm img{ margin-top:-5px; margin-right:10px; }

.payrs{ display:none; font-size:12px; color:#999; padding-top:6px; }
.payrs p{ margin-bottom:0; }
</style>      
</block>
<block name="js">
<script src="__PUBLIC__/admin/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/admin/plugins/select2/select2.full.min.js"></script>
<script src="__PUBLIC__/admin/plugins/iCheck/icheck.min.js"></script>
<script language="javascript">
function spw(){
   $('.payrs').show();
}
$(function(){
   $(".select2").select2();
   $('#checkall').on('ifChecked',function(){
      //var f = $(this).prop('checked');
	  $('input[name="for-dosth"]').each(function(){
         $(this).iCheck('check');  
      });
   });
   $('#checkall').on('ifUnchecked',function(){
      //var f = $(this).prop('checked');
	  $('input[name="for-dosth"]').each(function(){
         $(this).iCheck('uncheck');  
      });
   });
   $('input[type="checkbox"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
   });
   
   $('a.mdjs').click(function(){
      var id = $(this).attr('data-id');
	  $.ajax({
	     url : "{:U('/Order/plainfo')}",
		 type : "GET",
		 data : {'id':id},
		 success: function(d){		    
			$('.modal-body').html(d.Htm);
			$('#myModal').modal();
		 }
	  });
	  //$('#myModal').modal();
   });
   
   $('.btn-sub-del').click(function(){
      var chk_value =Array();
	  $('input[name="for-dosth"]:checked').each(function(){
		 chk_value.push($(this).val());
      });
	  if(chk_value == ""){
	     $.fn.tips({type:'error',content:'您没有选择任何项目'});
	  }else{
	     del(chk_value);
	  }
   });
   $('.btn-del').click(function(){
      var id = $(this).attr('data-id');
	  del(id);
   });
});
function del(idarr){
      $.ajax({
			 url: "{:U('/Order/deletepla')}", 
			 type: "POST",
			 data:{'idarr':idarr}, 
			 success: function(d){
				 $.fn.tips({'type':d.type,'content':d.msg,'url':''});			 
			 }
      });
}

</script>
</block>