<extend name="./Public/admin/index.html"/>
<block name="css">

<link rel="stylesheet" href="__PUBLIC__/admin/plugins/select2/select2.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="__PUBLIC__/admin/plugins/iCheck/all.css">
</block>
<block name="main">
<div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">            
            <!-- /.box-header -->
            <div class="box-body">
             <form name="form2" method="" action="{:U('/User/index')}">
                <div class="clearfix pad-b row">
                   <div class="col-sm-1 col-xs-4"><a class="btn btn-danger btn-sm btn-sub-del" href="javascript:void(0);"><i class="fa fa-trash"></i> 删除会员</a></div>
                   <div class="col-sm-2 col-xs-4">
                      <input type="text" name="nickname" class="form-control" placeholder="输入用户昵称" />
                   </div>
                   <div class="col-sm-1 col-xs-4"><button type="submit" class="btn btn-sm btn-primary">搜索</button></div>
                </div>
             </form>
             <div class="table-responsive">  
                 <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                       <tr>
                          <th class="text-center">
                            <input id="checkall" class="minimal-red" type="checkbox">
                          </th>
                          <th width="40">头像</th>
                          <th>昵称</th>
                          <th class="text-center">性别</th>
                          <th class="text-center">积分</th>
                          <th class="text-center">手机号码</th>
                          <th class="text-center">关注时间</th>
                          <th class="text-center">操作</th>
                       </tr>
                    </thead>
                    <tbody>
                       <volist name='listarr' id='rs'>
                       <tr>
                          <td class="text-center">
                             
                                <input name="for-dosth" value="{$rs['id']}" class="minimal-red" type="checkbox">
                             
                          </td>
                          <td><img src="{$rs['face']}" width="40" /></td>
                          <td>{$rs['nickname']|emnick}</td>
                          <td class="text-center"><if condition="$rs['sex'] eq '1'">男<else />女</if></td>
                          <td class="text-center">{$rs['score']}</td>
                          <td class="text-center"><if condition="empty($rs['telno'])">-<else />{$rs['telno']}</if></td>
                          <td class="text-center">{$rs['addtime']}</td>
                          <td class="text-center">
                             <a class="btn btn-xs btn-info mdjs" href="javascript:void(0);" data-id="{$rs['id']}">
                               <i class="fa fa-edit"></i> 积分明细
                             </a>                            
                          </td>
                       </tr>
                       </volist>
                    </tbody>
                 </table>
             </div>
             
             <div class="clearfix pad-v pager-admin">{$pagination}</div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
</div>
<div class="modal fade" id="myModal">
   <div class="modal_wrapper">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">积分明细</h4>
         </div>
         <div class="modal-body">
            
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
         </div>
      </div>
   </div>
   </div>
</div>
<style type="text/css">
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ vertical-align:middle; }
.pb{ padding-bottom:15px; }
.modal-body .lh{ line-height:34px; }
.modal-body .sm{ font-size:20px; line-height:32px; }
.modal-body .sm img{ margin-top:-5px; margin-right:10px; }
@media(min-width:768px){
	.modal-dialog{
	   position:absolute !important;
	   top:50%;
	   left:50%;
	   -webkit-transform: translateX(-50%) translateY(-50%) !important;
	   -moz-transform: translateX(-50%) translateY(-50%) !important;
	   -o-transform: translateX(-50%) translateY(-50%) !important;
	   -ms-transform: translateX(-50%) translateY(-50%) !important;
	   transform: translateX(-50%) translateY(-50%) !important;
	}	
}
.payrs{ display:none; font-size:12px; color:#999; padding-top:6px; }
.payrs p{ margin-bottom:0; }
</style>      
</block>
<block name="js">
<script src="__PUBLIC__/admin/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/admin/plugins/select2/select2.full.min.js"></script>
<script src="__PUBLIC__/admin/plugins/iCheck/icheck.min.js"></script>
<script language="javascript">
$(function(){
   
   $('#checkall').on('ifChecked',function(){
      //var f = $(this).prop('checked');
	  $('input[name="for-dosth"]').each(function(){
         $(this).iCheck('check');  
      });
   });
   $('#checkall').on('ifUnchecked',function(){
      //var f = $(this).prop('checked');
	  $('input[name="for-dosth"]').each(function(){
         $(this).iCheck('uncheck');  
      });
   });
   $('input[type="checkbox"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
   });
   
   $('a.mdjs').click(function(){
      var id = $(this).attr('data-id');
	  $('#actid').val(id);
	  $.ajax({
	     url : "{:U('/User/score')}",
		 type : "GET",
		 data : {'id':id},
		 success: function(d){		    
			if(d.Htm == 'ept'){
			   $.fn.tips({type:'error',content:'没有该用户的积分记录'});
			}else{
			   $('.modal-body').html(d.Htm);
			   $('#myModal').modal();
			}
		 }
	  });
	  //$('#myModal').modal();
   });
   $('.btn-sub-del').click(function(){
      var chk_value =Array();
	  $('input[name="for-dosth"]:checked').each(function(){
		 chk_value.push($(this).val());
      });
	  if(chk_value == ""){
	     $.fn.tips({type:'error',content:'您没有选择任何项目'});
	  }else{
	     del(chk_value);
	  }
   });
});
function del(idarr){
      $.ajax({
			 url: "{:U('/Goods/delete')}", 
			 type: "POST",
			 data:{'idarr':idarr,'table':'user'}, 
			 success: function(d){
				 $.fn.tips({'type':d.type,'content':d.msg,'url':''});			 
			 }
      });
}

</script>
</block>