<extend name="./Public/admin/index.html"/>
<block name="css">

</block>
<block name="main">
<div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header with-border">                
                <a class="btn btn-info btn-sm" href="{:U('/Wechat/menuadd')}"><i class="fa fa-plus"></i> 添加菜单</a>
                <a class="btn btn-success btn-sm caretmenu" href="javascript:void(0);">生成菜单</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             <div class="table-responsive">  
             <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                   <tr>
                      <th class="text-center">ID</th>
                      <th>名称</th>
                      <th>URL</th>
                      <th class="text-center">操作</th>
                   </tr>
                </thead>
                <tbody>
                   <volist name='menulis' id='rs'>
                   <tr>
                      <td class="text-center">{$rs['id']}</td>
                      <td>{$rs['name']}</td>                      
                      <td>{$rs['url']}</td>
                      <td class="text-center">
                            <a class="btn btn-xs btn-info" href="{:U('/Wechat/menuedit',array('id'=>$rs['id']))}">
                               <i class="fa fa-edit"></i> 编辑
                            </a>
                            <a class="btn btn-xs btn-danger" href="javascript:del({$rs.id});">
                               <i class="fa fa-trash"></i> 删除
                            </a>                         
                      </td>
                   </tr>
                   <if condition="is_array($rs['subarr'])">
                   <foreach name="rs['subarr']" item="vok">
                   <tr>
                      <td class="text-center">{$vok['id']}</td>
                      <td>∟{$vok['name']}</td>                      
                      <td>{$vok['url']}</td>
                      <td class="text-center">
                            <a class="btn btn-xs btn-info" href="{:U('/Wechat/editmenu',array('id'=>$vok['id']))}">
                               <i class="fa fa-edit"></i> 编辑
                            </a>
                            <a class="btn btn-xs btn-danger" href="javascript:del({$vok.id});">
                               <i class="fa fa-trash"></i> 删除
                            </a>                         
                      </td>
                   </tr>
                   </foreach>
                   </if>
                   </volist>
                </tbody>
             </table>
             </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
</block>
<block name="js">
<script language="javascript">
$(function(){
   $('a.caretmenu').click(function(){
      $.ajax({
		 url : "{:U('/Wechat/creatMenu')}",
		 type : "GET",
		 beforeSend: function(){
		    $('a.caretmenu').html("<img src='__PUBLIC__/admin/dist/img/loading.gif' width='20' />");
		 },
		 success : function(d){
		    $('a.caretmenu').html('生成菜单');
			$.fn.tips({'type':d.type,'content':d.msg});			
		 }  
	  });
   });
});
function del(id){
      $.ajax({
		 url : "{:U('/Wechat/delMenu')}",
		 data : {'id':id},
		 type : "GET",
		 success : function(d){
		    $.fn.tips({'type':d.type,'content':d.msg,'url':''});
		 }  
	  });
}
</script>
</block>