<extend name="./Public/admin/index.html"/>
<block name="css">

<link rel="stylesheet" href="__PUBLIC__/admin/plugins/datepicker/datepicker3.css">
  <link rel="stylesheet" href="__PUBLIC__/admin/plugins/select2/select2.min.css">
</block>
<block name="main">
<div class="row">
   <div class="col-xs-12">
      <form name="import_form" method="post" action="{:U('/Wechat/insmenu')}">
      <div class="nav-tabs-custom">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#default" data-toggle="tab">新增菜单</a></li>
         </ul>         
         <div class="tab-content form-horizontal">            
            
            <div class="active tab-pane" id="default">
               
               <div class="form-group">
                  <label for="pid" class="col-sm-2 control-label">上级菜单：</label>
                  <div class="col-sm-2 col-xs-12">
                     <select name="pid" id="pid" class="form-control">
                        <option value="0">顶级菜单</option>
                        <volist name="menulis" id="rsm">
                        <option value="{$rsm['id']}">{$rsm['name']}</option>
                        </volist>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">名称：</label>
                  <div class="col-sm-3 col-xs-12">
                     <input type="text" class="form-control" name="name" id="name">
                  </div>
               </div>
               <div class="form-group">
                  <label for="url" class="col-sm-2 control-label">链接：</label>
                  <div class="col-sm-3 col-xs-12">
                     <input type="text" class="form-control" name="url" id="url">
                  </div>
               </div>
                       
            </div>             
                        
         </div>         
      </div>
      <div class="clearfix"><button type="button" class="btn btn-info btn-sub-fm"> <i class="icon-ok bigger-110"></i>确认添加</button></div>
      </form> 
        
   </div>
   <!-- /.col -->
</div>
</block>
<block name="js">
<script src="__PUBLIC__/admin/plugins/datepicker/bootstrap-datepicker.js"></script>
<script language="javascript">
$(function(){
   
   $('.btn-sub-fm').click(function(){
      
	  var name = $.trim($('#name').val());
	  var pid = $.trim($('#pid').val());
	  var url = $.trim($('#url').val());
	  //alert(remark);
	  //return;
	  if(name == ''){
	     $.fn.tips({type:'error',content:'名称不可为空'});
		 $('#name').parent().parent().addClass('has-error');
		 return false;
	  }else if(url == ''){
	     $.fn.tips({type:'error',content:'链接不可为空'});
		 $('#url').parent().parent().addClass('has-error');
		 return false;   
	  }
	  
	  $.ajax({
	     url : "{:U('/Wechat/insmenu')}",
		 type : "POST",
		 data : {'name':name,'pid':pid,'url':url},
		 beforeSend: function(){
		    $('.btn-sub-fm').html("<img src='__PUBLIC__/admin/dist/img/loading.gif' width='20' />");
		 },
		 success : function(d){
		    $.fn.tips({'type':d.type,'content':d.msg,'url':d.url});
		 }
	  });
	  //alert(picarr);
	  
   });
});
</script>
</block>