@charset "utf-8";
/* CSS Document */
html,body{
   font-family:"Microsoft Yahei";
   height:100%;
}
body{
   height:100%;   
}
ul,li,dl,dt,dd,img{
   list-style:none;
   border:0;
   margin:0;
   padding:0;
}

a{ outline:none; }
a:link,a:visited{ color:#666; text-decoration:none; }
a:hover,a:active{ color:#49B36B; outline:none; }

.container{ padding-left:0; padding-right:0; }

i{ font-style:normal; }
.clearfix{ overflow:hidden; clear:both;  }
.clear{ clear:both; }
.ellip{
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;
}
.ovh{ overflow:hidden; }
.img-responsive{ display:block; margin:0px auto; }

.prv{ position:relative; }

.table>thead>tr>th{
   border-bottom:none;	
}
.table-red thead tr th{
   color:#FFF;
   background:#F15352;
   text-align:center !important;	
}
/* font face */
@font-face {
  font-family: 'iconfont';  /* project id："96307" */
  src: url('//at.alicdn.com/t/font_gwutwuz0313mobt9.eot');
  src: url('//at.alicdn.com/t/font_gwutwuz0313mobt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_gwutwuz0313mobt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_gwutwuz0313mobt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_gwutwuz0313mobt9.svg#iconfont') format('svg');
}
.ion{
   font-style:normal;
   font-family:'iconfont';	
}
                         

/* cutArea */
.rowCut{ clear:both; height:5%; }

/* table */
.dis-table{ display:table; height:100%; width:100%; }
* .cell{
   display:table-cell;
   vertical-align:middle;
   height:100%;
}
.dis-table.cell-box .cell{ box-sizing:border-box; }
.dis-table .cell.cell-5{ width:5%; }
.dis-table .cell.cell-10{ width:10%; }.dis-table .cell.cell-15{ width:15%; }.dis-table .cell.cell-20{ width:20%; }.dis-table .cell.cell-25{ width:25%; }.dis-table .cell.cell-30{ width:30%; }.dis-table .cell.cell-33{ width:33%; }.dis-table .cell.cell-40{ width:40%; }.dis-table .cell.cell-45{ width:45%; }.dis-table .cell.cell-50{ width:50%; }.dis-table .cell.cell-55{ width:55%; }.dis-table .cell.cell-66{ width:66%; }.dis-table .cell.cell-65{ width:65%; }.dis-table .cell.cell-70{ width:70%; }.dis-table .cell.cell-75{ width:75%; }.dis-table .cell.cell-80{ width:80%; }.dis-table .cell.cell-85{ width:85%; }.dis-table .cell.cell-90{ width:90%; }.dis-table .cell.cell-95{ width:95%; }


/* color|font|inline-block|background#FFF */
.text-undline{ text-decoration:underline; }

.dark-gray,a.dark-gray,.dark-gray a,button.dark-gray,.dark-gray button{ color:#D6D6D6; }
.dark-gray a:hover,a.dark-gray:hover,.dark-gray button:hover,button.dark-gray:hover{ color:#49B36B; }

.deep-gray,a.deep-gray,.deep-gray a,button.deep-gray,.deep-gray button{ color:#BBB; }
.deep-gray a:hover,a.deep-gray:hover,.deep-gray button:hover,button.deep-gray:hover{ color:#F15352; }

.gray,a.gray,.gray a,button.gray,.gray button{ color:#999 !important; }
.gray a:hover,a.gray:hover,.gray button:hover,button.gray:hover{ color:#F15352; }

.dark,a.dark,.dark a,button.dark,.dark button{ color:#000; }
.dark a:hover,a.dark:hover,.dark button:hover,button.dark:hover{ color:#F15352; }

.gray-light,a.gray-light,.gray-light a,button.gray-light,.gray-light button{ color:#555; }
.gray-light a:hover,a.gray-light:hover,.gray-light button:hover,button.gray-light:hover{ color:#F15352; }

.gray-gray,a.gray-gray,.gray-gray a,button.gray-gray,.gray-gray button{ color:#D6D6D6; }
.gray-gray a:hover,a.gray-gray:hover,.gray-gray button:hover,button.gray-gray:hover{ color:#999; }

.yel,a.yel,.yel a,button.yel,.yel button{ color:#FBAE10; }
.yel a:hover,a.yel:hover,.yel button:hover,button.yel:hover{ color:#F15352; }

.red,a.red,.red a,button.red,.red button{ color:#F15352; }
.red a:hover,a.red:hover,.red button:hover,button.red:hover{ color:#EF3434; }

.org,a.org,.org a,button.org,.org button{ color:#FF7F00; }
.org a:hover,a.org:hover,.org button:hover,button.org:hover{ color:#F15352; }

.grn,a.org,.grn a,button.grn,.grn button{ color:#21CD39; }
.grn a:hover,a.grn:hover,.grn button:hover,button.grn:hover{ color:#F15352; }

.white,a.white,.white a,button.white,.white button{ color:#FFF; }
.white a:hover,a.white:hover,.white button:hover,button.white:hover{ text-decoration:underline; }


.btn-red{ color:#fff; background-color:#F15352; border:none; border-radius:0; }
.btn-red:hover,.btn-red:focus{ background-color:#EF3D3D; border:none; color:#FFF; }

.btn-dark{ color:#fff; background-color:#000; border-color:#000; }
.btn-dark:hover{ background-color:#000; border-color:#000; color:#FFF; }

.btn-gray{ color:#fff; background-color:#AAA; border-color:#AAA; }
.btn-gray:hover{ background-color:#D0CFCC; border-color:#D0CFCC; color:#FFF; }

.btn-org{ color:#fff; background-color:#FF7F00; border-color:#FF7F00; }
.btn-org:hover{ background-color:#FF6600; border-color:#FF6600; color:#FFF; }

a.btn-grn,.btn-grn{ color:#fff; background-color:#0A6C6D; border-color:#0A6C6D; }
a.btn-grn:hover,.btn-grn:hover{ background-color:#0C8585; border-color:#0C8585; color:#FFF; }

.btn-ion,a.btn-ion,button.btn-ion{ display:inline-block; font-family:'iconfont'; background:#F15352; color:#FFF; font-size:12px; height:16px !important; line-height:16px !important; width:16px; text-align:center; }
a.btn-ion:hover,button.btn-ion:hover{ color:#FFF; }
.btn-ion.ga,a.btn-ion.ga,button.btn-ion.ga{ background:#999; }


.f-lg{ font-size:30px; }
.f-big{ font-size:20px !important; }
.f-md-lg{ font-size:18px; }
.f-md{ font-size:16px; }
.f-sm{ font-size:12px; }
.f-nm{ font-size:14px; }
.lh-xs{ line-height:20px; }
.lh-sm{ line-height:24px; }
.lh-md{ line-height:28px; }
.lh-lg{ line-height:32px; }
.lh-lgmin{ line-height:31px; }
.lh-35{ line-height:35px; }
.lh-40{ line-height:40px; }
.lh-45{ line-height:45px; }
.f-w{ font-weight:bold; }
.ins{ display:inline-block; }

.ins-p{ font-size:0; }
.ins-p a,.ins-p .ins{ display:inline-block; font-size:12px; }
.f-md .ins-p a{ font-size:14px; }
.f-big .ins-p{ font-size:12px; }
.f-big .ins-p a{ font-size:16px; }
.ins-p.sm{ margin:0 -10px; }
.ins-p.sm a,.ins-p.sm .ins{ padding:0 10px; }
.ins-p.xs{ margin:0 -5px; }
.ins-p.xs a,.ins-p.xs .ins{ padding:0 5px; }

.bok{ display:block; margin:0px auto; }
.thw{ text-decoration:line-through; }
.bg{ background:#FFF; }
.bg0{ background:#000; }
.bge{ background:#EEE; }
.bgea{ background:#EAEAEA; }
.bgf5{ background:#F5F5F5; }
.bgf6{ background:#F6F6F6; }
.bgf0{ background:#F0F0F0; }
.bgf8{ background:#F8F8F8; }
.bgfa{ background:#FAFAFA; }

/* input */
.ipn,.wd-btn,.btn{
   border:none;
   outline:none;
   box-shadow:none;
   resize: none;
}
.ipn:focus,.wd-btn:focus,.btn:focus{ outline:none; box-shadow:none; border:none; }
.ipn.pn{ padding-left:0; padding-right:0; }
.btn.btn-ipn,.btn.btn-ipn:hover,.btn.btn-ipn:focus,.btn.btn-ipn:active,.btn.btn-ipn:active:focus{ border:none; outline:none; background-color:transparent; box-shadow:none; }

/* page */
.page{
   clear:both;
   padding:20px;
   text-align:center;	
}
.page a,.page span{
   display:inline-block;
   padding:10px 16px;
   background:#F7F7F7;
   margin:0px 5px;	
   font-size:16px;
}
.page a.current,.page a:hover,.page span.current{
   background:#0A6C6D;	
   color:#FFF;
}
.cen-cen{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);	
}
/* margin padding */
.mar{ margin-top:20px !important; margin-left:20px !important; margin-bottom:20px !important; margin-right:20px !important; }.mar-md{ margin-top:15px !important; margin-left:15px !important; margin-bottom:15px !important; margin-right:15px !important; }.mar-sm{ margin-top:10px !important; margin-left:10px !important; margin-bottom:10px !important; margin-right:10px !important; }.mar-xs{ margin-top:5px !important; margin-left:5px !important; margin-bottom:5px !important; margin-right:5px !important; }.mar-t{ margin-top:20px !important; }.mar-t-md{ margin-top:15px !important; }.mar-t-sm{ margin-top:10px !important; }
.mar-t-xs{ margin-top:5px !important; }.mar-t-xxs{ margin-top:3px !important; }.mar-t-xxxs{ margin-top:1px !important; }.mar-l{ margin-left:20px !important; }.mar-l-md{ margin-left:15px !important; }.mar-l-sm{ margin-left:10px !important; }.mar-l-xs{ margin-left:5px !important; }.mar-b{ margin-bottom:20px !important; }.mar-b-md{ margin-bottom:15px !important; }.mar-b-sm{ margin-bottom:10px !important; }.mar-b-xs{ margin-bottom:5px !important; }.mar-r{ margin-right:20px !important; }.mar-r-md{ margin-right:15px !important; }.mar-r-sm{ margin-right:10px !important; }.mar-r-xs{ margin-right:5px !important; }.mar-h{ margin-left:20px !important; margin-right:20px !important; }.mar-h-md{ margin-left:15px !important; margin-right:15px !important; }.mar-h-sm{ margin-left:10px !important; margin-right:10px !important; }.mar-h-xs{ margin-left:5px !important; margin-right:5px !important; }.mar-v{ margin-top:20px !important; margin-bottom:20px !important; }.mar-v-md{ margin-top:15px !important; margin-bottom:15px !important; }.mar-v-sm{ margin-top:10px !important; margin-bottom:10px !important; }.mar-v-xs{ margin-top:5px !important; margin-bottom:5px !important; }.x-mar-b-xs{ margin-bottom:-2px !important; }.xx-mar-t-xs{ margin-top:-1px !important; }.xx-mar-t-xxs{ margin-top:-6px !important; }

.min-mar-h-lg{ margin-left:-20px !important; margin-right:-20px !important; }

.pad{ padding-top:20px !important; padding-left:20px !important; padding-bottom:20px !important; padding-right:20px !important; }.pad-md{ padding-top:15px !important; padding-left:15px !important; padding-bottom:15px !important; padding-right:15px !important; }.pad-sm{ padding-top:10px !important; padding-left:10px !important; padding-bottom:10px !important; padding-right:10px !important; }.pad-xs{ padding-top:5px !important; padding-left:5px !important; padding-bottom:5px !important; padding-right:5px !important; }.pad-t{ padding-top:20px !important; }.pad-t-md{ padding-top:15px !important; }
.pad-t-sm{ padding-top:10px !important; }.pad-t-xs{ padding-top:5px !important; }.pad-t-xxs{ padding-top:3px !important; }.pad-l{ padding-left:20px !important; }.pad-l-md{ padding-left:15px !important; }.pad-l-sm{ padding-left:10px !important; }.pad-l-xs{ padding-left:5px !important; }.pad-b{ padding-bottom:20px !important; }.pad-b-md{ padding-bottom:15px !important; }.pad-b-sm{ padding-bottom:10px !important; }.pad-b-xs{ padding-bottom:5px !important; }.pad-r{ padding-right:20px !important; }.pad-r-md{ padding-right:15px !important; }.pad-r-sm{ padding-right:10px !important; }.pad-r-xs{ padding-right:5px !important; }.pad-h{ padding-left:20px !important; padding-right:20px !important; }.pad-h-md{ padding-left:15px !important; padding-right:15px !important; }.pad-h-sm{ padding-left:10px !important; padding-right:10px !important; }.pad-h-xs{ padding-left:5px !important; padding-right:5px !important; }.pad-v{ padding-top:20px !important; padding-bottom:20px !important; }.pad-v-md{ padding-top:15px !important; padding-bottom:15px !important; }.pad-v-sm{ padding-top:10px !important; padding-bottom:10px !important; }.pad-v-xs{ padding-top:5px !important; padding-bottom:5px !important; }


/* border */
.bor{ border:1px #E5E5E5 solid; }.bor-l{ border-left:1px #E5E5E5 solid; }.bor-r{ border-right:1px #E5E5E5 solid; }.bor-t{ border-top:1px #E5E5E5 solid; }.bor-b{ border-bottom:1px #E5E5E5 solid; }.bor-h{ border-left:1px #E5E5E5 solid; border-right:1px #E5E5E5 solid; }.bor-v{ border-top:1px #E5E5E5 solid; border-bottom:1px #E5E5E5 solid; }

.ds-bor{ border:1px #E2E2E2 dashed; }.ds-bor-l{ border-left:1px #E2E2E2 dashed; }.ds-bor-r{ border-right:1px #E2E2E2 dashed; }.ds-bor-t{ border-top:1px #E2E2E2 dashed; }.ds-bor-b{ border-bottom:1px #E2E2E2 dashed; }.ds-bor-h{ border-left:1px #E2E2E2 dashed; border-right:1px #E2E2E2 dashed; }.ds-bor-v{ border-top:1px #E2E2E2 dashed; border-bottom:1px #E2E2E2 dashed; }

/* rows & p */
.nmg p,p.nmg{ margin-bottom:0; }
.p-md p,p.p-md{ margin-bottom:15px; }
.p-nm p,p.p-nm{ margin-bottom:8px; }
.p-xs p,p.p-xs{ margin-bottom:5px; }
.p-xxs p,p.p-xxs{ margin-bottom:3px; }

.row.nmg{ margin-left:0 !important; margin-right:0 !important; }
.row.npd [class*='col-']{
   padding-left:0 !important;
   padding-right:0 !important;	
}
[class*='col-'].npd-r{ padding-right:0 !important; }
[class*='col-'].npd-l{ padding-left:0 !important; }

.row.xs{
   margin-left:-5px;
   margin-right:-5px;	
}
.row.xs [class*='col-']{
   padding-left:5px;
   padding-right:5px;	
}
.row.sm{
   margin-left:-10px;
   margin-right:-10px;	
}
.row.sm [class*='col-']{
   padding-left:10px;
   padding-right:10px;	
}
