@charset "utf-8";
/* CSS Document */
.kd-site-bar{
   background:#484848;
   color:#D6D6D6;
   clear:both;
   height:35px;
   line-height:35px;	
}
.kd-site-nav {
   float:right;
   font-size:0;
   margin-right:-10px;
}
.kd-site-nav a,.kd-site-nav span{
   display:inline-block;
   font-size:12px;
   padding:0 10px;
   border-left:1px #787878 solid;	
}

.kd-head{
   padding:10px 0;	
}
.kd-head [class*='col']{
   position:static;	
}

.kd-menu-icon{
   width:40px;
   height:40px;
   position:absolute;
   right:0;
   top:50%;	
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   line-height:40px;
   text-align:right;
   font-size:26px;
   display:none;
}
.kd-menu-icon-close{
   width:40px;
   height:40px;
   position:absolute;
   right:15px;
   top:15px; 
   line-height:40px;
   text-align:right;
   font-size:26px;
   display:none;  	
}
.kd-nav li .ion { display:none; }


.kd-art-box{
   background:#EEE;
   padding:40px 0;	
}
.kd-art-box .title{
   font-size:18px;
   padding:0 0 10px 0;	
}
.kd-art-box .art-lis .row{
   margin-top:0;
   margin-bottom:28px;
   background:#FFF;	
}
.kd-art-box .art-cont{
   padding-top:25px;
   padding-bottom:25px;	
   padding-left:25px;
   padding-right:25px;	
}
.kd-art-box .art-cont .art-title{ 
   font-size:18px; 
   font-weight:bold;
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;
   display:block; 
}
.kd-art-box .art-cont .art-ms{
   padding:10px 0;
   max-height:68px;
   overflow:hidden;
   line-height:24px;
   color:#666;	
}
.kd-art-box .art-cont .art-time{
   font-size:12px;
   text-align:right;
   color:#999;	
}
.art-swp{ height:25px; overflow:hidden; }
.art-swp .swiper-slide{
   padding-right:100px;
   line-height:25px;
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;	
}
.art-swp .swiper-slide small{ float:right; color:#D6D6D6; padding-left:15px; }
.art-swp .swp-btn{
   position:absolute;
   right:0;
   top:0;
   width:50px;
   height:25px;
   background:url(/Public/home/images/swp-btn.jpg) no-repeat 0;
   z-index:2;	
}
.art-swp .swp-btn a{ display:inline-block; width:50%; height:25px; }

.kd-notic-box .time-area{
   position:absolute;
   left:10px;
   top:10px;
   background:rgba(73,179,107,1);
   color:#FFF;
   padding:5px;
   text-align:center;
   font-family:Arial, Helvetica, sans-serif;
}
.kd-notic-box .time-area .d{
   font-size:22px;
   display:block;	
}
.kd-notic-box .time-area .full{
   display:block;
   margin-top:-5px;	
}
.kd-notic-box .tit-area{
   position:absolute;
   left:0;
   bottom:0;
   background:rgba(73,179,107,1);
   width:100%;
   padding:10px;	
}
.kd-notic-box .tit-area a{ 
   color:#FFF; 
   display:block;
   font-size:16px;
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden; 
}
.kd-notic-box .tit-area a:hover{   
   text-decoration:underline;	
}

.kd-notic-box .notic-lis{
   background:#FFF;
   min-height:148px;
   padding:16px;	
}
.kd-notic-box .notic-lis a{
   display:block;
   height:29px;
   line-height:29px;
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;	
}


.kd-mail-box{
   background:#217669;
   padding:30px 0;	
}
.kd-mail-box .mail-area{
   background:#FFF;
   padding-left:24.291%;
   position:relative;
   height:100%;
   overflow:hidden;
}
.kd-mail-box .mail-area .subj{
   
   position:absolute;
   height:100%;
   left:0;
   top:0;
   width:24.291%;
   background:#49B36B;
   color:#FFF;
   /* 垂直居中 */   
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center; 	
}
.kd-mail-box .mail-area .subj .t{
   font-size:40px;	
}
.kd-mail-box .mail-area .subj .more{
   padding-top:20px;
   display:inline-block;
}
.kd-mail-box .mail-area .subj .more a{
   display:inline-block;
   border-style:solid;
   border-width:1px;
   border-color:rgba(243,244,245,0.6);
   color:rgba(243,244,245,0.6);
   padding:0 5px;
   font-size:12px;	
}
.kd-mail-box .mail-area .subj .more a:hover{
   border-color:rgba(243,244,245,1);
   color:rgba(243,244,245,1);	
}
.kd-mail-box .mail-area .lis-box{
   padding:20px;	
}
.kd-mail-box .mail-area .lis-box a{
   display:block;
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;
   height:30px;
   line-height:20px;
   padding:5px 0;	
}

.kd-mail-box .mail-area .lis-box a span{
   float:left;
   display:inline-block;
   padding-right:10px;
   margin-right:10px;
   border-right:1px #E9EBED solid;
   color:#999;	
}

.mail-dt-area{
   background:#FFF;
   padding:0 20px 0 20px;	
}
.mail-dt-area .sub-t{
   height:42px;
   line-height:42px;
   border-bottom:1px #D6D6D6 solid;
   color:#999;	
}
.mail-dt-area .lis-box{
   padding:10px 0 18px 0;  	
}
.mail-dt-area .lis-box a{
   display:block;
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;
   height:30px;
   line-height:20px;
   padding:5px 0;	
}
.mail-dt-area .lis-box a span{ float:left; padding-right:10px; font-size:12px; color:#999; }


.kd-serv-box{
   padding:50px 0 0 0; 	
}
.kd-serv-box .serv-main{
   padding-top:70px;
   padding-bottom:100px;	
}
.kd-serv-box .serv-main.swp-fengc{ padding-bottom:60px; }
.kd-serv-box .serv-main .item-lis{
   
}
.kd-serv-box .serv-main .item-lis .item-item{
   
   text-align:center;
}
.kd-serv-box .serv-main .item-lis .item-item .box{
   border:1px #D9D9D9 solid;
   padding:25px;
   display:block;
   -webkit-transition: all 500ms ease-out;
   transition: all 500ms ease-out;	
}

.kd-serv-box .serv-main .item-lis .item-item .box p{ margin:2px; font-size:16px; }
.kd-serv-box .serv-main .item-lis .item-item .box .ion{
   font-size:70px;
   color:#49B36B;	
}

.kd-serv-box .serv-main .item-lis .item-item .box:hover{
   background:#49B36B;	
   color:#FFF;
}
.kd-serv-box .serv-main .item-lis .item-item .box:hover .ion{ color:#FFF; }



.kd-gb-box-tit{
   background:url(/Public/home/images/line01.jpg) repeat-x center bottom;
   clear:both;
   text-align:center;
   overflow:hidden;
}
.kd-gb-box-tit span{
   display:inline-block;	
}
.kd-gb-box-tit span.eng{
   font-size:26px;
   color:#000;	
}
.kd-gb-box-tit span.cha{
   font-size:18px;
   color:#4A4A4A;
   padding:5px 2px 16px 2px;
   border-bottom:2px #7FBE25 solid;
}


.kd-book-box{
   background:url(/Public/home/images/book-bg.jpg) no-repeat center center;
   background-size:cover;
   padding:20px 0 40px 0;
   color:#FFF;	
}
.kd-book-box .t1{ font-size:25px; }
.kd-book-box .t2{ font-size:20px; }
.kd-book-box .t3{ color:#93DBCE; }
.book-fm .row{
   margin-left:-8px;
   margin-right:-8px;	
}
.book-fm .row [class*='col']{
   padding-left:8px;
   padding-right:8px;	
}
.book-fm input,.book-fm select,.book-fm button{
   height:50px;
   margin:6px auto;	
}

footer{
   background:#1B1B1B;	
}
.kd-foot-up{
   padding:30px 0;	
}
.bok-chd a{ display:block; line-height:24px; }
.kd-ewm-code {
   text-align:right;	
}
.kd-ewm-code div{ margin-right:-5px; }
.kd-ewm-code div span{ display:inline-block; max-width:50%; padding:0 5px; }

.kd-foot-end{
   background:#0C0C0C;	
}
.kd-powby{ text-align:right; }

.p-nav-box p.m{
   font-size:20px;
   color:#000;	
}
.p-nav-box p.ng{
   color:#AAA;	
}
.p-nav-box p.ng a{ color:#AAA; }
.p-nav-box p.ng a:hover{ color:#000; }
.p-nav-box p.ng a,.p-nav-box p.ng span{ display:inline-block; margin:0 5px; }

.p-submenu{
   background:#FFF;
   border-right:2px #0A6C6D solid;
   height:40px;
   line-height:40px;
   margin-bottom:15px;
   margin-top:10px;
   border-top:1px #E1E1E1 solid;
   font-size:0;	
}
.p-submenu ul li{
   display:inline-block;
   font-size:14px;
}
.p-submenu ul li a{ display:block; padding:0 15px; }
.p-submenu ul li+li{
   border-left:1px #E1E1E1 solid;	
}
.p-submenu ul li.active a,.p-submenu ul li a:hover{
   background:#0A6C6D;
   color:#FFF;	
}

.art-lis-ind .item-item{
   clear:both;
   height:100%;
   overflow:hidden;
   background:#FFF;
   padding:25px;
   margin-bottom:20px;	
}
.art-lis-ind.disc .item-item{ margin-bottom:0; }

.art-lis-ind .item-item a.t{
   font-size:18px;
   display:block;
   color:#000;
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;	
}
.art-lis-ind .item-item a.t span{ float:right; font-size:14px; color:#666; }
.art-lis-ind .item-item .cont{
   padding-top:15px;
   line-height:23px;
   color:#777;
}
.art-lis-ind .item-item .d{ padding-top:20px; color:#666; }
.art-lis-ind .item-item.active,.art-lis-ind .item-item:hover{
   background:#0A6C6D;	
}
.art-lis-ind.disc .item-item.active,.art-lis-ind.disc .item-item:hover{
   background:#FFF;	
}
.art-lis-ind .item-item.active a,.art-lis-ind .item-item:hover a,.art-lis-ind .item-item.active .t span,.art-lis-ind .item-item:hover .t span{
   color:#FFF;	
}
.art-lis-ind.disc .item-item.active a,.art-lis-ind.disc .item-item:hover a,.art-lis-ind.disc .item-item.active .t span,.art-lis-ind.disc .item-item:hover .t span{
   color:#666;	
}
.art-lis-ind .item-item a:hover{ text-decoration:underline; }
.art-lis-ind .item-item.active .cont,.art-lis-ind .item-item:hover .cont,.art-lis-ind .item-item.active .d,.art-lis-ind .item-item:hover .d{ color:#F2F2F2; }
.art-lis-ind.disc .item-item.active .cont,.art-lis-ind.disc .item-item:hover .cont,.art-lis-ind.disc .item-item.active .d,.art-lis-ind.disc .item-item:hover .d{ color:#777; }


.pm-box{
   clear:both;
   height:100%;
   overflow:hidden;
   background:#FFF;
   padding:25px 40px;	
}
.pm-box .p-t{
   height:50px;
   border-bottom:3px #D6D6D6 solid;
   font-size:26px;
   color:#000;	
}
.pm-box .boxm{
   clear:both;
   margin:25px auto;	
}
.pm-box .boxm .row.lis{}
.pm-box .boxm .row.lis .t{
   padding:16px 0;
   text-align:center;
   font-size:16px;
}

.topic-act-box{
   background:#FFF;
   padding:25px 25px 10px 25px;	
}

.topic-lis-box{
  background:#FFF;
  padding:0 25px;
  margin-bottom:15px;	
}
.topic-lis-box .item-item{
   padding:10px 0;	
}
.topic-lis-box .item-item+.item-item{
   border-top:1px #D6D6D6 solid;
}
.topic-lis-box .item-item .t{
   padding-bottom:6px;
   display:block;
}
.topic-lis-box .item-item .ion-lis{ color:#999; font-size:12px; }
.topic-lis-box .item-item .ion-lis td{ vertical-align:middle; }
.topic-lis-box .item-item .ion-lis .ion{ font-size:16px; }


@media(min-width:991px){
   .kd-head{
	  position:relative;   
   }	
   .kd-nav{
	  position:absolute;
	  right:0;
	  top:0;
	  height:100%;   
   }
   .kd-nav ul{ height:100%; }
   .kd-nav li{ 
      float:left;
	  height:100%;
	  position:relative;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  padding:0 26px;
	  -webkit-transition: background 500ms ease-out;
	  transition: background 500ms ease-out;
   }
   .kd-nav li .ion{
	  position:absolute;
	  height:20px;
	  line-height:20px;
	  right:0;
	  top:50%;
	  margin-top:-10px;
	  font-size:12px;
	  -webkit-transition: right 500ms ease-out;
	  transition: right 500ms ease-out; 
	  transition-delay:0.1s;
	  -ms-transition-delay:0.1s;
	  -moz-transition-delay:0.1s;
	  -webkit-transition-delay:0.1s;
	  -o-transition-delay:0.1s;
	  display:block;     
   }
   .kd-nav li:hover,.kd-nav li.active{
      background:#49B36B;
	  color:#FFF;
   }
   .kd-nav li:hover a,.kd-nav li.active a{ color:#FFF; }
   .kd-nav li:hover .ion,.kd-nav li.active .ion{
      right:8px;
   }
   
    .p-submenu{
	   background:#FFF;
	   border-bottom:4px #0A6C6D solid;
	   border-right:1px #E1E1E1 solid;
	   height:100%;
	   margin-top:0;
	   overflow:hidden;
	}
	.p-submenu ul li{
	   display:block;
	   text-align:center;
	}
	.p-submenu ul li a{ display:block; padding:20px 0; }
	.p-submenu ul li+li{
	   border-top:1px #E1E1E1 solid;
	   border-left:0;	
	}
	.p-submenu ul li.active a,.p-submenu ul li a:hover{
	   background:#0A6C6D;
	   color:#FFF;	
	}
}
@media(max-width:1200px){
   .kd-nav li{ padding: 0 20px; }
   .kd-art-box .art-lis .row{
	   margin-bottom:10px;
   }
   .kd-art-box .art-cont{ padding-bottom:0; }
   .kd-art-box .art-cont .art-time{
	   text-align:left;
	   display:none;	
   }
   .kd-art-box{ padding:20px 0; }
   
   
   .kd-serv-box{
	   padding:30px 0 0 0; 	
	}
   .kd-serv-box .serv-main{
	   padding-top:40px;
	   padding-bottom:40px;	
	}
   .kd-serv-box .serv-main .item-lis{
	   margin-left:-5px;
	   margin-right:-5px;
	}
	.kd-serv-box .serv-main .item-lis .item-item{
	   padding:0 5px;	
	}
	.kd-serv-box .serv-main .item-lis .item-item .box{
	   padding:0 20px 15px 20px;
	}
     
}
@media(max-width:991px){
   .kd-head-p{
	  background:url(/Public/home/images/navbg.jpg) repeat-x center bottom;
	  clear:both;  
   }
   .kd-head{ padding-bottom:0; }
   .kd-nav{
      height:30px;
	  line-height:30px;
	  margin-top:10px;
   }	
   .kd-nav ul{
	  height:100%;
	  overflow:hidden; 
   }
   .kd-nav ul li{
	  width:16.666%;
	  float:left;
	  text-align:center;
	  padding:0 8px;
	  white-space:nowrap;
	  text-overflow:ellipsis;
	  -webkit-text-overflow:ellipsis;
	  overflow:hidden;
	  font-size:12px;
	  color:#D6D6D6;    
   }
   .kd-nav ul li a{ color:#D6D6D6; }
   .kd-nav ul li+li{
	  border-left:1px #787878 solid;   
   }
   .kd-art-box .art-cont .art-time{
	   display:block;	
	}
	.kd-book-box .book-fm .row [class*='col']{
	   padding-top:4px;
	   padding-bottom:4px;	
	}
	.kd-book-box .book-fm input,.kd-book-box .book-fm select,.kd-book-box .book-fm button{
	   height:40px;	
	}
	.kd-ewm-code {
	   text-align:center;	
	}
	.pm-box{
	   padding:15px;	
	}
	.pm-box .p-t{
	   height:44px;
	   font-size:20px;
	}
	.pm-box .boxm .row.lis{
	   margin-left:-10px;
	   margin-right:-10px;
	}
	.pm-box .boxm .row.lis [class*='col']{
	   padding-left:10px;
	   padding-right:10px;
	}
	.pm-box .boxm .row.lis .t{
	   padding:12px 0;
	   font-size:15px;
	}
}

@media(max-width:750px){
   .container{ padding-left:15px; padding-right:15px; }
   body{
      padding-top:64px;
   }
   .kd-head-p{
	  background:none;
	  position:fixed;
	  width:100%;
	  top:0;
	  left:0;
	  background:#FFF;
	  z-index:20; 
   }
   .kd-head { 
      padding-bottom:10px; 
	  border-bottom:1px #D6D6D6 solid;
	  
   }
   .kd-nav{
	  background:#484848;
	  position:fixed;
	  width:100%;
	  height:100%;
	  left:0;
	  top:0;
	  margin-top:0;
	  display:none;
	  z-index:9;  
   }	
   .kd-nav ul{
	  height:auto;
	  position:absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  -moz-transform: translateX(-50%) translateY(-50%);
	  -o-transform: translateX(-50%) translateY(-50%);
	  -ms-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	     
   }
   .kd-nav ul li{
	  width:100%;
	  display:block;
	  float:none;
	  height:45px;
	  line-height:45px;
	  font-size:16px;
	  padding:0;	     
   }
   .kd-nav ul li+li{
      border-left:none;
	  border-top:1px #787878 solid;
   }
   .kd-menu-icon{ display:block; }
   .kd-art-box .title{
      font-size:16px;
   }
   
    .kd-art-box .art-lis .row{
	   margin-bottom:10px;
	}
	.kd-art-box .art-cont{
	   padding-top:10px;
	   padding-bottom:5px;	
	   padding-left:10px;
	   padding-right:20px;	
	}
	.kd-art-box .art-cont .art-title{ 
	   font-size:14px; 
	   font-weight:normal;
	}
	.kd-art-box .art-cont .art-ms{
	   padding:0;
	   color:#999;
	   font-size:12px;
	   white-space:nowrap;
	   text-overflow:ellipsis;
	   -webkit-text-overflow:ellipsis;
	   overflow:hidden;
	   display:block;	
	}
	.kd-art-box .art-cont .art-time{
	   text-align:left;
	   display:none;	
	}
	.art-swp .swiper-slide{
       padding-right:60px;
	}
	
	.kd-mail-box .mail-area{ padding-left:0; }
	.kd-mail-box .mail-area .subj{
	   display:block;
	   position:static;
	   height:40px;
	   padding-top:10.5px;
	   padding:10px 15px;
	   width:100%;	
	}
	.kd-mail-box .mail-area .subj .more{
	   padding-top:0;
	   float:right;
	}
	.kd-mail-box .mail-area .lis-box{
	   padding:15px;	
    }
	.mail-dt-area{
	   padding:0 15px;	
	}
	.kd-powby{ text-align:left; }
	
	.p-nav-box{
 	   background:#FFF;
	   padding:0 10px;
	   line-height:40px;
	   position:relative;
	   z-index:5;	
    }
	.p-nav-box .catename{
	   color:#000;
	}
	.p-nav-box .catename a{ display:inline-block; margin:0 3px; }
	.p-nav-box .ion.r{ float:right; font-size:18px; }
	.p-nav-box ul{
	   position:absolute;
	   right:0;
	   top:40px;
	   padding:10px;
	   background:#FFF;
	   line-height:30px;
	   display:none;
	   border:1px #EAEAEA solid;
	   border-width:0 0 1px 1px;
	}
	.p-nav-box ul li,.p-nav-box ul li a{
	   display:block;
	}
	.p-nav-box ul li+li{
	   border-top:1px #EAEAEA solid;
	}
	.p-nav-box ul li.active a{ color:#0A6C6D; }
	
	.topic-act-box{
	   padding:10px;	
	}
	
	.art-lis-ind{
	   margin-top:15px;	
    }
	.art-lis-ind .item-item{
	   padding:10px;
	   margin-bottom:10px;
	}
	.art-lis-ind .item-item .img-area{ padding-bottom:10px; }
	.art-lis-ind .item-item a.t{
	   font-size:14px;
	   height:30px; 
	   line-height:30px;
	}
	.art-lis-ind .item-item a.t span{ font-size:12px; display:none; }
	.art-lis-ind .item-item .d{ padding:0; font-size:12px; color:#999; }
	.art-lis-ind .item-item .cont{
	   padding:0;
	   height:23px;
	   font-size:12px;
	   white-space:nowrap;
	   text-overflow:ellipsis;
	   -webkit-text-overflow:ellipsis;
	   overflow:hidden;
	}
	.pm-box{
	   padding:10px;
	   margin-top:10px;	
	}
	.pm-box .p-t{
	   height:30px;
	   font-size:16px;
	}
	.pm-box .boxm{ margin:0; }
	.pm-box .boxm .row.lis{
	   margin-left:-5px;
	   margin-right:-5px;
	}
	.pm-box .boxm .row.lis [class*='col']{
	   padding-left:5px;
	   padding-right:5px;
	}
	.pm-box .boxm .row.lis .t{
	   padding:8px 0;
	   font-size:14px;
	}
	.book-fm input,.book-fm select,.book-fm button{
	   height:40px;
	   margin:0 auto;	
	}
	.topic-lis-box{ padding:0 10px; }
}
